    <div class="order-module meet"> <img src="__IMG__/my-img01.gif"/> <span>
        <h5><img src="__IMG__/my-img02.gif"/></h5>
        我们每个人从诞生那一刻起就被赋予了与众不同的独特之处，<br/>
		这是先天隐藏在我们生命中的成功密码，等待我们用后天独特的个性表现将之解开。<br/>
		然而，随着生活经验的积累，我们中很多人被磨平了棱角，<br/>
		独特之处消失殆尽，变得平庸无奇，因此与成功无缘。<br/>
		勇敢地走出平庸，开启自我心灵，释放个性，<br/>
		从而解开生命中的成功密码，获得属于自己的成功和幸福。</span> </div>
    <div class="order-module scorching"> <span>
        <h5><img src="__IMG__/my-img04.gif"/></h5>
        或许每个人，都要注定走一些坎坷路，好像一帆风顺了就不叫人生。<br/>
		在这条叫做人生的路上，跌打爬模，踉踉跄跄，<br/>
		一步一个脚印，描绘出一幅人生的七彩图。<br/>
		颜色艳丽的地方是人生的骄傲，写满了辉煌，颜色昏暗的地方是人生的低谷，<br/>
		在哪里学会了成长。<br/>
		在成长中找到真的自己，让自己对自己的了解更加透彻，<br/>
		这样才会更好的自己。
        </span> <img src="__IMG__/my-img03.gif"/> </div>
    <div class="order-module meet"> <img src="__IMG__/my-img05.gif"/> <span>
        <h5><img src="__IMG__/my-img06.gif"/></h5>
        很多事，不是我想，就能做到的。喜怒哀乐，牵着年轮的手，<br/>
		永无停止的前行，是健康，是平稳。<br/>
		把这几种原生态最本质的东西，拧成了一股绳，拴住了心脏当做纸鸢放飞，<br/>
		一跃升空，看见了天空的蓝，看见了大地的绿。<br/>
		太阳不会因你的失意，明天不再升起；月亮不会因你的抱怨，今晚不再降落。<br/>
		蒙住自己的眼睛，不等于世界就漆黑一团；蒙住别人的眼睛，不等于光明就属于自己。<br/>
		在漆黑的夜里，找寻到更加真实的自己，更好的自己。
</span> </div>

    <ul class="tag-ul">
        <li><span><img src="__IMG__/btn-img17.gif"/><span>
          <h3>定制名称</h3>
          <h4>{$custom.cusname}</h4>
          </span></span></li>
        <li> <span><img src="__IMG__/btn-img18.gif"/><span>
          <h3>订制主题</h3>
          <h4>{$custom.theme}</h4>
          </span></span> <span><img src="__IMG__/btn-img19.gif"/><span>
          <h3>标签分类</h3>
          <h4>形象</h4>
          </span></span> <span><img src="__IMG__/btn-img20.gif"/><span>
          <h3>形象分类</h3>
          <h4>{$custom.imgclass}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img21.gif"/><span>
          <h3>风格选择</h3>
          <h4>{$custom.style}</h4>
          </span></span> <span><img src="__IMG__/btn-img22.gif"/><span>
          <h3>展示方式</h3>
          <h4>{$custom.dismode}</h4>
          </span></span> <span><img src="__IMG__/btn-img23.gif"/><span>
          <h3>订制方式</h3>
          <h4>{$custom.mode}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img24.gif"/><span>
          <h3>订制价格</h3>
          <h4>￥{$custom.cusmoney}</h4>
          </span></span> <span><img src="__IMG__/btn-img25.gif"/><span>
          <h3>时间限制</h3>
          <h4>{$custom.starttime}  至  {$custom.endtime}</h4>
          </span></span> </li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img26.gif"/><h3>订制描述</h3><span>
          
          <h4>{$custom.themedesc}<br/></h4>
           <h4>{$custom.cusdesc}<br/></h4>
          </span></span> </li>
        <li><span><img src="__IMG__/btn-img27.gif"/><span>
          <h3>订制需求</h3>
          <h4>{$custom.cusissue}</h4>
          </span></span></li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img28.gif"/><span>
          <h3>版权设置</h3>
          <h4>{$custom.cuscopyright}</h4>
          </span></span></li>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
        <neq name="custom.imgurl" value="">
            <li><span><img src="__IMG__/btn-img29.gif"/><span>
          <h3>图片参考</h3>
          <!--<h4><img src="__IMG__/img26.gif"/></h4>-->
          <h4><img src="http://erciyuanjie.com{$custom.imgurl}" style="width: 700px;"/></h4>
          </span></span></li>
        </neq>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
    </ul>