<footer class="bottom">
    <div class="container">
        <div class="botm-left">
            <div class="botm-btn"><a href="#" class="botm-share sina"><img src="__IMG__/bottom-share1.png"/></a>
                <a href="#" class="botm-share mail"><img src="__IMG__/bottom-share2.png"/></a></div>
            <h5><a href="__ROOT__/Index/standard.html#jygf">交易规范</a> <a href="__ROOT__/Index/standard.html#jfgz">积分规则</a> <a href="__ROOT__/Index/mechanism.html#yqzjz">邀请者机制</a> <a href="__ROOT__/Index/mechanism.html#dyzjz">订制者机制</a> <a href="__ROOT__/Index/mechanism.html#zzjz">作者机制</a> <a href="__ROOT__/Index/about.html#wo">关于我们</a> <a href="__ROOT__/Index/about.html#yisi">关于隐私</a> <a href="__ROOT__/Index/feedback.html">问题反馈</a> <a href="__ROOT__/Index/about.html#bq">版权声明</a></h5>
            <h5>联系我们：010-60600032</h5>
            <h5><span>站内求助或投诉举报：service@2ciyuanjie.com</span>          <span>作者服务：   originator@2ciyuanjie.com</span>    <span>订制者服务：  demander@2ciyuanjie.com </span></h5>
            <h5><span>活动及商务合作： cooperation@2ciyuanjie.com </span>   <span>媒体服务： media@2ciyuanjie.com</span> </h5>
            <h5 class="gray-h5">版权所有：北京世纪元通网络科技有限公司 京ICP备14025166号-1</h5>
        </div>
        <div class="botm-right"><img src="__IMG__/bottom-img.png"/></div>
    </div>
</footer>
<div class="color-div" style="display:none;"></div>