<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keyword" content="">
<meta name="author" content="">
<meta property="qc:admins" content="155117267765231151621563757" />
<title>二次元界</title>
<link rel="stylesheet" href="__CSS__/base1.css" />
<link rel="stylesheet" href="__CSS__/master.css" />
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__JS__/master.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/webuploader.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/diyUpload.css">
	<script type="text/javascript" src="__JS__/webuploader.html5only.min.js"></script>
	<script type="text/javascript" src="__JS__/diyUpload.js"></script>
<block name="head"></block>