    <div class="order-module meet"> <img src="__IMG__/family-img01.gif"/> <span>
        <h5><img src="__IMG__/family-img02.gif"/></h5>
        人生路上，亲情是最持久动力，予无私帮助依靠；<br/>
		在最寂寞路上，亲情是最真陪伴，让心感受温馨安慰；<br/>
		在最无奈十字路口，亲情是清晰路标，指引成功方向。<br/>
		有一种爱，迟了就无法再来；有一种情，走了就无法追溯，它就是亲情！<br/>
		从出生，到懂事，到成年，它，一直陪伴着。<br/>
		孩童时，以为送一瓶父亲爱喝的酒就是亲情；年少时，认为取得好成绩给母亲看就是亲情；长大后，才知道，原来亲情就是，当我们说要一辈子照顾他们时，<br/>
		他们却还嘴硬地说着；“谁稀罕呢！”不稀罕吗？稀罕着呢！<br/>
		正如我们深深感恩他们一样——这就是亲情！ </span> </div>
    <div class="order-module scorching"> <span>
        <h5><img src="__IMG__/family-img04.gif"/></h5>
        我们有共同的父母，在同一个屋檐下，笑笑哭哭；<br/>
	　　在这个大家庭里，有多少甜酸辣苦，为了明天，我们曾经尝过。<br/>
	　　血脉在我们身体里贯通，我们彼此帮助，情感相同；<br/>
		我们在鼓励中成长，我们在成长中，向往幸福生活。<br/>
	　　岁月匆匆，生活忙碌；<br/>
	　	但岁月流逝亲不断，<br/>
	　　兄妹亲情永相伴。
        </span> <img src="__IMG__/family-img03.gif"/> </div>
    <div class="order-module meet"> <img src="__IMG__/family-img05.gif"/> <span>
        <h5><img src="__IMG__/family-img06.gif"/></h5>
        亲情，人类永恒的话题。<br/>
		亲情，人间最美的情感。<br/>
		亲情是一颗古老的藤，承载着对岁月的眷恋。<br/>
		很多时候，亲情是感动的，而这种厚实的感动却难以用言语表达的清楚，<br/>
		她不像爱情，纯情，娇柔；不像友情豪放，志投。<br/>
		她是细腻的，也是踏实的；是温柔的，也是脆弱的。<br/>
		亲情是你永远无法割断的那根丝线，无论你身在何方，她都会一路陪伴你，在心灵上，<br/>
		亦或是在空间上。</span> </div>
    <ul class="tag-ul">
        <li><span><img src="__IMG__/btn-img17.gif"/><span>
          <h3>定制名称</h3>
          <h4>{$custom.cusname}</h4>
          </span></span></li>
        <li> <span><img src="__IMG__/btn-img18.gif"/><span>
          <h3>订制主题</h3>
          <h4>{$custom.theme}</h4>
          </span></span> <span><img src="__IMG__/btn-img19.gif"/><span>
          <h3>标签分类</h3>
          <h4>形象</h4>
          </span></span> <span><img src="__IMG__/btn-img20.gif"/><span>
          <h3>形象分类</h3>
          <h4>{$custom.imgclass}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img21.gif"/><span>
          <h3>风格选择</h3>
          <h4>{$custom.style}</h4>
          </span></span> <span><img src="__IMG__/btn-img22.gif"/><span>
          <h3>展示方式</h3>
          <h4>{$custom.dismode}</h4>
          </span></span> <span><img src="__IMG__/btn-img23.gif"/><span>
          <h3>订制方式</h3>
          <h4>{$custom.mode}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img24.gif"/><span>
          <h3>订制价格</h3>
          <h4>￥{$custom.cusmoney}</h4>
          </span></span> <span><img src="__IMG__/btn-img25.gif"/><span>
          <h3>时间限制</h3>
          <h4>{$custom.starttime}  至  {$custom.endtime}</h4>
          </span></span> </li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img26.gif"/><span>
          <h3>订制描述</h3>
          <h4>{$custom.themedesc}<br/></h4>
          </span></span> </li>
        <li><span><img src="__IMG__/btn-img27.gif"/><span>
          <h3>订制需求</h3>
          <h4>{$custom.cusissue}</h4>
          </span></span></li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img28.gif"/><span>
          <h3>版权设置</h3>
          <h4>{$custom.cuscopyright}</h4>
          </span></span></li>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
        <neq name="custom.imgurl" value="">
            <li><span><img src="__IMG__/btn-img29.gif"/><span>
          <h3>图片参考</h3>
          <!--<h4><img src="__IMG__/img26.gif"/></h4>-->
          <h4><img src="http://localhost{$custom.imgurl}" style="width: 700px;"/></h4>
          </span></span></li>
        </neq>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
    </ul>