<div class="details-content order-subject">
    <div class="order-module meet"> <img src="__IMG__/birthday-img01.gif"/> <span>
        <h5><img src="__IMG__/birthday-img02.gif"/></h5>
        每年总有这样一个特别的日子，它像一支待放的花苞，在这一天为你盛大绽开。<br/>
		如花海里的小雏菊，柔软而清丽，不可亵渎。这样一个特殊的日子，<br/>
		属于你，而你属于幸福。<br/>
		常常，会有这样一些人，他们会比你自己记得更深-关于这个日子。<br/>
		这一天，他们会送上精致小礼物，送上温暖的祝福，送来美好的心情。<br/>
		这些人就是我们生命里值得珍视的人-我们的亲人还有挚友。<br/>
		因为生日，我们懂得许多，懂得努力，懂得生活，懂得有着很多人爱着我们，<br/>
		我们也爱着他们。</span> </div>
    <div class="order-module scorching"> <span>
        <h5><img src="__IMG__/birthday-img04.gif"/></h5>
        《生日快乐》的歌声一遍遍在耳畔响起，是如此的动听，<br/>
		如此的亲切，我双手合十，在心里默默地许下了，一个又一个美好的愿望，<br/>
		我要把所有的愿望都在这一刻许愿……<br/>
		 此刻，我相信，你是这个世上最最幸福的人。<br/>
		或许，年轻无价，快乐无价，友情亦无价。 <br/>
		今天，就是朋友最幸福而快乐的一天。<br/>
		如果快乐可以传递，我愿把快乐打包，<br/>
		托清风明月满满传送给你。
        </span> <img src="__IMG__/birthday-img03.gif"/> </div>
    <div class="order-module meet"> <img src="__IMG__/birthday-img05.gif"/> <span>
        <h5><img src="__IMG__/birthday-img06.gif"/></h5>
        在我生日的时候请让朋友的祝福不仅给我，更要送给我的母亲。<br/>
		我可能还是那样任性、那样的让别人操心，在我心里面，有个小小的愿望，<br/>
		我并不想快快成长，我依恋这个家，依恋我的母亲和那些熟悉的笑脸、温暖的声音。<br/>
		知道吗？每当我看见夜空闪闪的星光，我都想象成自己是其中的一颗，<br/>
		可以永远明亮的闪耀，铺撒了整个天空淡淡的忧伤，那是我的心情，<br/>
		我微薄的对过往的眷恋，以及那简简单单的快乐。<br/>
		谢谢母亲为我过得每一个生日。
</span> </div>
    <ul class="tag-ul">
        <li><span><img src="__IMG__/btn-img17.gif"/><span>
          <h3>定制名称</h3>
          <h4>{$custom.cusname}</h4>
          </span></span></li>
        <li> <span><img src="__IMG__/btn-img18.gif"/><span>
          <h3>订制主题</h3>
          <h4>{$custom.theme}</h4>
          </span></span> <span><img src="__IMG__/btn-img19.gif"/><span>
          <h3>标签分类</h3>
          <h4>形象</h4>
          </span></span> <span><img src="__IMG__/btn-img20.gif"/><span>
          <h3>形象分类</h3>
          <h4>{$custom.imgclass}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img21.gif"/><span>
          <h3>风格选择</h3>
          <h4>{$custom.style}</h4>
          </span></span> <span><img src="__IMG__/btn-img22.gif"/><span>
          <h3>展示方式</h3>
          <h4>{$custom.dismode}</h4>
          </span></span> <span><img src="__IMG__/btn-img23.gif"/><span>
          <h3>订制方式</h3>
          <h4>{$custom.mode}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img24.gif"/><span>
          <h3>订制价格</h3>
          <h4>￥{$custom.cusmoney}</h4>
          </span></span> <span><img src="__IMG__/btn-img25.gif"/><span>
          <h3>时间限制</h3>
          <h4>{$custom.starttime}  至  {$custom.endtime}</h4>
          </span></span> </li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img26.gif"/><span>
          <h3>订制描述</h3>
          <h4>{$custom.themedesc}<br/></h4>
          </span></span> </li>
        <li><span><img src="__IMG__/btn-img27.gif"/><span>
          <h3>订制需求</h3>
          <h4>{$custom.cusissue}</h4>
          </span></span></li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img28.gif"/><span>
          <h3>版权设置</h3>
          <h4>{$custom.cuscopyright}</h4>
          </span></span></li>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
        <noempty name="custom.imgurl">
            <li><span><img src="__IMG__/btn-img29.gif"/><span>
          <h3>图片参考</h3>
          <h4><img src="http://localhost{$custom.imgurl}" style="width: 700px;"/></h4>
          </span></span></li>
        </noempty>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
    </ul>
      <span class="details-btn">
      <input name="" type="button" onClick="javascript:location.href='__ROOT__/Custom/custom/formid/{:is_login()}.html'" value="我要订制">
      <input class="blue-input" name="" type="button" onClick="javascript:location.href='author details-edit.html'" value="我要抢单">
      </span> <span class="third-party"> <a href="#" class="sina"></a> <a href="#" class="wechat"></a> <a href="#" class="qq"></a> <a href="#" class="space"></a> </span> </div>