    <div class="order-module meet"> <img src="__IMG__/investment-img01.gif"/> <span>
        <h5><img src="__IMG__/investment-img02.gif"/></h5>
        梦想是一定要有的，万一实现了呢？<br/>
		虽然我不会画卡通形象，但我有一个梦幻卡通梦，<br/>
		我有一双发现美的眼光，<br/>
		我天使般的投资订制了一个我非常喜欢的卡通形象，<br/>
		并成为了这个卡通形象的版权拥有者。</span> </div>
    <div class="order-module scorching"> <span>
        <h5><img src="__IMG__/investment-img04.gif"/></h5>
        0到1的突破，我已经成功了多半！<br/>
		坚持用心运营我的卡通形象，<br/>
		我终将会实现从0到1的突破，<br/>
		有了第一个卡通形象的周边产品，<br/>
		回报我的更多是我的存在感！是相信自己！
        </span> <img src="__IMG__/investment-img03.gif"/> </div>
    <div class="order-module meet"> <img src="__IMG__/investment-img05.gif"/> <span>
        <h5><img src="__IMG__/investment-img06.gif"/></h5>
        站在风口的猪也会飞起来！<br/>
		得到认可的卡通形象象齐天大圣魔幻般的复制，<br/>
		我的卡通形象已经有玩具、服装、箱包等，<br/>
		看着大家穿着，带着、背着等时尚地、快乐地生活着........<br/>
		发现前面所有的付出都是那么值得！
</span> </div>

    <ul class="tag-ul">
        <li><span><img src="__IMG__/btn-img17.gif"/><span>
          <h3>定制名称</h3>
          <h4>{$custom.cusname}</h4>
          </span></span></li>
        <li> <span><img src="__IMG__/btn-img18.gif"/><span>
          <h3>订制主题</h3>
          <h4>{$custom.theme}</h4>
          </span></span> <span><img src="__IMG__/btn-img19.gif"/><span>
          <h3>标签分类</h3>
          <h4>形象</h4>
          </span></span> <span><img src="__IMG__/btn-img20.gif"/><span>
          <h3>形象分类</h3>
          <h4>{$custom.imgclass}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img21.gif"/><span>
          <h3>风格选择</h3>
          <h4>{$custom.style}</h4>
          </span></span> <span><img src="__IMG__/btn-img22.gif"/><span>
          <h3>展示方式</h3>
          <h4>{$custom.dismode}</h4>
          </span></span> <span><img src="__IMG__/btn-img23.gif"/><span>
          <h3>订制方式</h3>
          <h4>{$custom.mode}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img24.gif"/><span>
          <h3>订制价格</h3>
          <h4>￥{$custom.cusmoney}</h4>
          </span></span> <span><img src="__IMG__/btn-img25.gif"/><span>
          <h3>时间限制</h3>
          <h4>{$custom.starttime}  至  {$custom.endtime}</h4>
          </span></span> </li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img26.gif"/><span>
          <h3>订制描述</h3>
          <h4>{$custom.themedesc}<br/></h4>
          </span></span> </li>
        <li><span><img src="__IMG__/btn-img27.gif"/><span>
          <h3>订制需求</h3>
          <h4>{$custom.cusissue}</h4>
          </span></span></li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img28.gif"/><span>
          <h3>版权设置</h3>
          <h4>{$custom.cuscopyright}</h4>
          </span></span></li>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
        <neq name="custom.imgurl" value="">
            <li><span><img src="__IMG__/btn-img29.gif"/><span>
          <h3>图片参考</h3>
          <!--<h4><img src="__IMG__/img26.gif"/></h4>-->
          <h4><img src="http://erciyuanjie.com{$custom.imgurl}" style="width: 700px;"/></h4>
          </span></span></li>
        </neq>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
    </ul>