
    <div class="order-module meet"> <img src="__IMG__/friends-img01.gif"/> <span>
        <h5><img src="__IMG__/friends-img02.gif"/></h5>
        假如我有这样的朋友：风和日丽的时节，我们一边走一边说说笑笑，<br/>
		仿佛生活从来都是那么的怡然而惬意。<br/>
		假如我有这样的朋友：是我一转身时身旁的那道风景，静静地守在我身边，默默地注视着我的行程，默默地解读我的悲喜。<br/>
		假如我有这样的朋友：能读懂我，能穿过层层面具，如入无人之境的走进我的心灵，<br/>
		用一种彼此都懂的语言来和我进行灵魂的对话和交流。<br/>
		而我，真的很幸运——因为我拥有这样的朋友。<br/>
		可以牵念，可以偶尔想起，可以心灵相通，灵魂对话的朋友。<br/>
		不见面也会有聊不完的话题、说不完的乐事。享受这种温暖，永远记得，珍惜……</span> </div>
    <div class="order-module scorching"> <span>
        <h5><img src="__IMG__/friends-img04.gif"/></h5>
        年少时我们曾拥有的心愿呢?<br/>
		是否也随着华年枯萎在心底?<br/>
		长大间我们是否还会再唱起心愿?<br/>
		我们何时还会再手握阳光，照亮我们老去的青春?<br/>
		于是，我们曾相牵着笑看年华老去，相拥着悲咏离别经年。<br/>
		只是，相遇时，我们中的多数还是没能理解<br/>
		“那一次真正美丽的微笑”。
        </span> <img src="__IMG__/friends-img03.gif"/> </div>
    <div class="order-module meet"> <img src="__IMG__/friends-img05.gif"/> <span>
        <h5><img src="__IMG__/friends-img06.gif"/></h5>
        友情犹如一副长长的画卷展开，身临其境。里面有我们各色的青春，<br/>
		有我们数不尽的快乐，有我们看不完的传奇。<br/>
		友情犹如一场看不完的电影，<br/>
		电影之间的酸，甜，苦，辣，都仔细的在上演着不同的悲欢离合。<br/>
		友情犹如一本书，书香气卷着风儿漂流到很远很远，我们翻开书，<br/>
		都会看到彼此的笑脸，面若桃花。<br/>
		朋友是无论如何都不会消失的，友情也是。<br/>
		它无时不刻的出现在我们的周围乃至生命里，<br/>
		它带给了我们比爱情更加弥之珍贵的东西，如果说爱情是世间最甜蜜的东西，<br/>
		那么友情即是世间最有滋味的东西。
</span> </div>
    <ul class="tag-ul">
        <li><span><img src="__IMG__/btn-img17.gif"/><span>
          <h3>定制名称</h3>
          <h4>{$custom.cusname}</h4>
          </span></span></li>
        <li> <span><img src="__IMG__/btn-img18.gif"/><span>
          <h3>订制主题</h3>
          <h4>{$custom.theme}</h4>
          </span></span> <span><img src="__IMG__/btn-img19.gif"/><span>
          <h3>标签分类</h3>
          <h4>形象</h4>
          </span></span> <span><img src="__IMG__/btn-img20.gif"/><span>
          <h3>形象分类</h3>
          <h4>{$custom.imgclass}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img21.gif"/><span>
          <h3>风格选择</h3>
          <h4>{$custom.style}</h4>
          </span></span> <span><img src="__IMG__/btn-img22.gif"/><span>
          <h3>展示方式</h3>
          <h4>{$custom.dismode}</h4>
          </span></span> <span><img src="__IMG__/btn-img23.gif"/><span>
          <h3>订制方式</h3>
          <h4>{$custom.mode}</h4>
          </span></span> </li>
        <li> <span><img src="__IMG__/btn-img24.gif"/><span>
          <h3>订制价格</h3>
          <h4>￥{$custom.cusmoney}</h4>
          </span></span> <span><img src="__IMG__/btn-img25.gif"/><span>
          <h3>时间限制</h3>
          <h4>{$custom.starttime}  至  {$custom.endtime}</h4>
          </span></span> </li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img26.gif"/><span>
          <h3>订制描述</h3>
          <h4>{$custom.themedesc}<br/></h4>
          </span></span> </li>
        <li><span><img src="__IMG__/btn-img27.gif"/><span>
          <h3>订制需求</h3>
          <h4>{$custom.cusissue}</h4>
          </span></span></li>
        <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
        <li><span><img src="__IMG__/btn-img28.gif"/><span>
          <h3>版权设置</h3>
          <h4>{$custom.cuscopyright}</h4>
          </span></span></li>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
        <neq name="custom.imgurl" value="">
            <li><span><img src="__IMG__/btn-img29.gif"/><span>
          <h3>图片参考</h3>
          <!--<h4><img src="__IMG__/img26.gif"/></h4>-->
          <h4><img src="http://localhost{$custom.imgurl}" style="width: 700px;"/></h4>
          </span></span></li>
        </neq>
        <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
    </ul>
