<extend name="Base/common" />
<block name="body">
  <!--------页面内容部分--------->
  <div class="container content">
    <div class="custom">
      <ul class="nextnav pay">
        <li class="nextnavon activ-li"><a href="#">选择付款方式</a></li>
      </ul>
      <div class="custom-content pay">
        <h3>订单提交成功，请您尽快付款！<span>订单号：2763782636263</span></h3>
        <h5>请您在提交订单后24小时内完成支付，否则订单会自动取消</h5>
        <div class="pay-div">
          <h4>应付金额：<span>300.00</span> 元</h4>
          <div class="pay-by by-alipay">
            <h5><span>支付宝支付</span></h5>
            <div class="code"> <span><img src="images/code.png"/></span> <a href="#">请使用支付宝扫一扫扫描二维码支付</a> </div>
            <img src="images/pay-img06.gif"/> </div>
        </div>
        <div class="other-pay"> <a href="pay-by.html"><span> < </span> 选择其他银行</a> </div>
      </div>
    </div>
  </div>
  <!--------页面底部--------->
</block>
