<extend name="Base/common" />
<block name="body">
<div class="container content details">
    <div class="details brief">
        <div class="brief-left">
            <h4>大眼眶熊猫</h4>
            <h5>定制主题：<span>浪漫的爱情</span>标签：<span>形象</span>形象分类：<span>卡通</span></h5>
            <h5>订制方式：<span>一对一</span>展示方式：<span>数码 ／ 电脑绘画</span>风格选择：<span>现代Q版</span><span>速写</span></h5>
            <h5>订制价格：<span class="red-span">500 RMB</span>订制期限：<span class="red-span">10 天</span></h5>
        </div>
        <div class="brief-right grab"> <img src="images/user-img10.gif"/> <span>
        <h4>大眼眶熊猫</h4>
        <h5>地区：北京</h5>
        <h5>几分：234 笔 <span> 等级：九品</span></h5>
        <h5>好评率：99%</h5>
        </span>
            <input class="grab-btn" name="" type="button" value="抢单">
        </div>
    </div>
    <div class="details-content order-subject">
        <div class="order-module meet"> <img src="images/order-img02.gif"/> <span>
        <h5><img src="images/order-img03.gif"/></h5>
        不得不说，时间真的是一种神奇的存在呢。<br/>
        初见他，谁曾想到日后会是这样的情形？<br/>
        初见他，谁曾想到日后会有这么多的交集？<br/>
        初见他，谁曾想到以后的我们会是这样的关系密切？<br/>
        世事就是这样，没有太多的理由可言。我们从来不曾想到过的，就这样悄悄地出现在<br/>
        我们的生命里，不着痕迹，就这样不声不响地、在我们毫不注意的情况下默默地走进我们的世界，当我们有所察觉的时候，早已习惯有这样的存在。 </span> </div>
        <div class="order-module scorching"> <span>
        <h5><img src="images/order-img05.gif"/></h5>
        爱是病中的一杯热茶；<br/>
        爱是冷时的一件外套；<br/>
        爱是累时的一个拥抱；<br/>
        爱是无助时的一个依靠；<br/>
        别说爱情太简单，平淡相守才是最真的暖，别说幸福太遥远<br/>
        只要用心感念，其实都在生活的细节里，爱，就是让一个人住进另一个人心里，<br/>
        简单的只有思念，只有挂牵，幸福的，偶尔甜蜜，偶尔伤感，无欲无求，无关风月<br/>
        只因心已相连，无怨无悔，无关距离，只因情已刻骨。<br/>
        </span> <img src="images/order-img04.gif"/> </div>
        <div class="order-module meet"> <img src="images/order-img06.gif"/> <span>
        <h5><img src="images/order-img07.gif"/></h5>
        爱情是很奇妙的，它就像千面女郎一样有很多种不同的面貌。<br/>
        只有用心感受爱情，才能真正了解爱情，找到属于自己的爱情。<br/>
        有时候，即使爱情已经降临，我们也懵然不知，仍然在等待爱神的眷顾。因为对爱情有着近乎不切实际的憧憬，看不到身后那道爱慕的目光，感受不到那份隐藏在暗处的爱情。<br/>
        用心感受爱情，领略爱情的神奇，享受爱情带来的酸甜苦辣。<br/>
        不要放弃对爱情的期待，就算在爱情的路上跌倒了，<br/>
        就算要花一辈子的时间，也要坚信爱情，努力寻找爱情，搭上幸福的列车。 </span> </div>
        <ul class="tag-ul">
            <li><span><img src="images/btn-img17.gif"/><span>
          <h3>定制名称</h3>
          <h4>爱情中的你我</h4>
          </span></span></li>
            <li> <span><img src="images/btn-img18.gif"/><span>
          <h3>订制主题</h3>
          <h4>浪漫的爱情</h4>
          </span></span> <span><img src="images/btn-img19.gif"/><span>
          <h3>标签分类</h3>
          <h4>形象</h4>
          </span></span> <span><img src="images/btn-img20.gif"/><span>
          <h3>形象分类</h3>
          <h4>卡通</h4>
          </span></span> </li>
            <li> <span><img src="images/btn-img21.gif"/><span>
          <h3>风格选择</h3>
          <h4>现代Q版  速写</h4>
          </span></span> <span><img src="images/btn-img22.gif"/><span>
          <h3>展示方式</h3>
          <h4>数码 / 电脑绘画</h4>
          </span></span> <span><img src="images/btn-img23.gif"/><span>
          <h3>订制方式</h3>
          <h4>一对一</h4>
          </span></span> </li>
            <li> <span><img src="images/btn-img24.gif"/><span>
          <h3>订制价格</h3>
          <h4>￥300</h4>
          </span></span> <span><img src="images/btn-img25.gif"/><span>
          <h3>时间限制</h3>
          <h4>2015年-8月-12日  至  2015年-8月-22日</h4>
          </span></span> </li>
            <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
            <li><span><img src="images/btn-img26.gif"/><span>
          <h3>订制描述</h3>
          <h4>希望整体呈现可以更加可爱，可爱中带些幽默，幽默中友不失乐趣更好的呈现出我们爱情的经过。<br/>
              希望整体呈现可以更加可爱，可爱中带些幽默，幽默中友不失乐趣<br/>
              更好的呈现出我们爱情的经过。<br/>
              更好的呈现出我们爱情的经过。</h4>
          </span></span> </li>
            <li><span><img src="images/btn-img27.gif"/><span>
          <h3>订制需求</h3>
          <h4>喜  怒  哀  乐，挥手  再见  拥抱  喜悦  角色说明  故事梗概</h4>
          </span></span></li>
            <!------”订制描述“ 和 ”定制需求“是根据用户填写我要订制中“形象分类”“卡通”得到的，如果选择”肖像“则不会出现“订制描述”“订制需求”------>
            <li><span><img src="images/btn-img28.gif"/><span>
          <h3>版权设置</h3>
          <h4>禁止匿名转发；禁止商业使用；禁止个人使用。</h4>
          </span></span></li>
            <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
            <li><span><img src="images/btn-img29.gif"/><span>
          <h3>图片参考</h3>
          <h4><img src="images/img26.gif"/></h4>
          </span></span></li>
            <!------如果用户上传了图片就显示这一栏如果没有上传就不显示------>
        </ul>
      <span class="details-btn">
      <input name="" type="button" onClick="javascript:location.href='custom.html'" value="我要订制">
      <input class="blue-input" name="" type="button" onClick="javascript:location.href='author details-edit.html'" value="我要抢单">
      </span> <span class="third-party"> <a href="#" class="sina"></a> <a href="#" class="wechat"></a> <a href="#" class="qq"></a> <a href="#" class="space"></a> </span> </div>
    <div class="tag"> <span class="collect"> <img src="images/tag-img01.png"/> <span>
      <h4>收藏</h4>
      <h5>233人收藏</h5>
      </span> </span> <span class="collect report"> <img src="images/tag-img02.png"/> <span>
      <h4>举报</h4>
      <h5>0人举报</h5>
      </span> </span> <span class="collect popularity"> <img src="images/tag-img03.png"/> <span>
      <h4>人气</h4>
      <h5>232736人浏览</h5>
      </span> </span> </div>
    <div class="author">
        <div class="author-left"> <img src="images/user-img10.gif"/> <span>
        <h4>大眼眶熊猫</h4>
        <h5>作者标签：卡通  动漫  人物</h5>
        <h5>成交量：234 笔</h5>
        <h5>诚信度：<img src="images/img22.gif"/><img src="images/img22.gif"/><img src="images/img22.gif"/><img src="images/img23.gif"/><img src="images/img23.gif"/></h5>
        </span>
            <input name="" type="button" value="已关注">
        </div>
        <!------如果用户没有作品，不显示此模块儿只是空白------>
        <div class="author-right"> <img src="images/img24.gif"/><img src="images/img24.gif"/><img src="images/img24.gif"/> <span class="cutover"> <a href="#"></a><a href="#"></a><a href="#"></a> </span> </div>
        <!------如果用户没有作品，不显示此模块儿只是空白------>
    </div>
    <div class="activity-banner"> <img src="images/banner-img03.gif"/> </div>
</div>
    </block>