<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keyword" content="">
<meta name="author" content="">
<title>企业订制注册</title>
<link rel="stylesheet" href="__CSS__/base1.css" />
<link rel="stylesheet" href="__CSS__/master.css" />
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__JS__/master.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/webuploader.css">
<link rel="stylesheet" type="text/css" href="__CSS__/diyUpload.css">
<script type="text/javascript" src="__JS__/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="__JS__/diyUpload.js"></script>
<script type="text/javascript" src="__JS__/jquery.validationEngine.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.validationEngine-zh_CN.js"></script>
<link rel="stylesheet" href="__CSS__/validationEngine.jquery.css">
<style>
*{ margin:0; padding:0;}
.box li{margin:0 3px; padding:0;}
.webuploader-pick{background:none;}
</style>
</head>
<body>
<section> 
		<!--------页面头部--------->
		<header class="container logo02">
				<div class="header-right">
						<ul>
							<li>已有账户，<a href="__ROOT__/Login/login.html">马上登录</a></li>
							<li class="gray">|</li>
							<li><a href="__ROOT__/Index.html">返回二次元界</a></li>
						</ul>
				</div>
		</header>
		<!--------登录页面内容部分--------->
		<div class="container register">
				<div class="retrieve firm">
						<ul class="nextnav">
							<li><a href="__ROOT__/Login/register.html">注册</a></li>
							<li><a href="__ROOT__/Author/pAuthorReg.html">个人作者注册</a></li>
							<li><a href="__ROOT__/Author/eAuthorReg.html">企业作者注册</a></li>
							<li><a href="__ROOT__/Custom/pCustomReg.html">个人订制注册</a></li>
							<li class="nextnavon"><a href="__ROOT__/Custom/eCustomReg.html">企业订制注册</a></li>
						</ul>
						<ul class="login-ul">
						<form action="/custom/ecustomreg" method="get" id="form">
								<li class="txt-input name"><span class="input-tle">姓名：</span>
										<input name="name" type="text" placeholder="请输入姓名"  class="gray validate[required]" onclick="if(this.value=='请输入姓名'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入姓名';this.className='gray'}" />
								</li>
								<li class="txt-input phone"><span class="input-tle">联系电话：</span>
										<input name="phone" id="mobile" type="text" placeholder="请输入联系电话"  class="gray validate[required,custom[phone]]" onclick="if(this.value=='请输入联系电话'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入联系电话';this.className='gray'}" />
								</li>
								<li class="txt-input address"><span class="input-tle">联系地址：</span>
										<input name="address" type="text" placeholder="请输入联系地址"  class="gray validate[required]" onclick="if(this.value=='请输入联系地址'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入联系地址';this.className='gray'}" />
								</li>
								<li class="txt-input password"><span class="input-tle">密码：</span>
										<input name="password" type="password" placeholder="请输入密码"  class="gray validate[required]"/>
								</li>
								<li class="txt-input confirm"><span class="input-tle">&nbsp;</span>
										<input name="confirm" type="password" placeholder="请确认密码"  class="gray validate[required]"/>
								</li>
								<li class="txt-input mail"><span class="input-tle">邮箱地址：</span>
										<input name="mail" type="text" placeholder="请输入邮箱地址"  class="gray validate[required,custom[email]]" onclick="if(this.value=='请输入邮箱地址'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入邮箱地址';this.className='gray'}" />
								</li>
								<li class="txt-input company"><span class="input-tle">公司名称：</span>
										<input name="company" type="text" placeholder="请输入公司名称"  class="gray validate[required]" onclick="if(this.value=='请输入公司名称'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入公司名称';this.className='gray'}" />
										<span class="prompt">公司名称是您唯一的名称注册后将不可修改，请您谨慎填写</span> </li>
								<li class="txt-input scope"><span class="input-tle">经营范围：</span>
										<input name="scope" type="text" placeholder="请输入经营范围"  class="gray" onclick="if(this.value=='请输入经营范围'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入经营范围';this.className='gray'}">
								</li>
								<li class="txt-input produc"><span class="input-tle">主要产品：</span>
										<input name="produc" type="text" placeholder="请输入主要产品"  class="gray" onclick="if(this.value=='请输入主要产品'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入主要产品';this.className='gray'}">
								</li>
								<li class="txt-input user"><span class="input-tle">目标用户：</span>
										<input name="user" type="text" placeholder="请输入目标用户"  class="gray" onclick="if(this.value=='请输入目标用户'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入目标用户';this.className='gray'}">
								</li>
								<li class="txt-input idea"><span class="input-tle">经营理念：</span>
										<input name="idea" type="text" placeholder="请输入经营理念"  class="gray" onclick="if(this.value=='请输入经营理念'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入经营理念';this.className='gray'}">
								</li>
								<li class="txt-input permit"><span class="input-tle">营业执照：</span> 
									<div class="box">
										<div id="flieinput" ></div>
									</div>	
									<span id ="inputhidden"></span>	
								</li>	
								<li class="txt-input verify"><span class="input-tle">验证码：</span> <span class="verify-span">
										<input name="verify" type="text" placeholder="请输入验证码"  class="gray validate[required]" onclick="if(this.value=='请输入验证码'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入验证码';this.className='gray'}">
										<input name="sendcode" type="button" value="验证码" id="sendcode" style="background-color:#34abef;">
										<input name="sendcode" type="button" value="验证码"  id="sendcode1" style="display: none;" >
										</span> </li>
								<li class="txt-input invite"><span class="input-tle">邀请码：</span>
										<input name="invite" type="text" placeholder="请确认邀请码"  class="gray" onclick="if(this.value=='请确认邀请码'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请确认邀请码';this.className='gray'}">
										<span class="prompt">通过您的好友邀请，输入邀请码如没有邀请码则不用填写</span></li>
								<li class="auto">
										<input name="ready" type="checkbox" value="1" checked class="validate[required]" id="ready">
										<span></span>我已阅读并接受<a href="__ROOT__/Index/about#yisi" target="__blank">版权声明</a>和<a href="__ROOT__/Index/about#yisi" target="__blank">隐私保护</a>条款</li>
								<li class="txt-input">
										<input class="retrieve-btn" name="" type="button" value="马上注册">
								</li>
						</form>
						</ul>
				</div>
		</div>
		<!--------页面底部--------->
		<footer class="container footer">版权所有：北京世纪元通网络科技有限公司  京ICP备14025166号-1</footer>
</section>
<script type="text/javascript">
$('.retrieve-btn').click(function(){
	$('#form').validationEngine(); 
	//勾选的标签赋值
	$('.label-check li').each(function(i,e){
		var tag_id = $('#tags').val();
		if($(e).attr('class') == 'checkon'){
			tag_id += $(e).attr('log')+ ';';
			$('#tags').val(tag_id);
		}
	});
	
	$('#form').submit();
})

//上传营业执照
$('#flieinput').diyUpload({
	url:'__ROOT__/Author/upload',
	success:function( data ) {
		$("#inputhidden").append("<input type='hidden' name='sht'  value="+data.pic+" />");
		$("#flieinput").html(
        		"<span class='permit-img'><img alt='企业营业执照' class='zw-img' src='__ROOT__"+data.pic+"' width='258px' hieght='462px'/></span>"
        );
		
		/* console.info( data ); */
	},
	error:function( err ) {
		console.info( err );	
	},	
	buttonText : "<span  class='permit-img' style='margin-left: 106px;'><img alt='企业营业执照' class='zw-img' src='__IMG__/img02.gif'/></span>",
	chunked:true,
	// 分片大小
	chunkSize:512 * 1024,
	//最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
	fileNumLimit:10,
});

//发送验证码
$('#sendcode').click(function(){
	if($('#mobile').val().length == 0){
		alert('请输入手机号');return false;
	}

	var s = 60;
	var timer;
	timer = setInterval(function(){
			$('#sendcode1').text('倒计时 '+60);
			if(s<0){
				clearInterval(timer);
				$('#sendcode').show();
				$('#sendcode1').hide();
			}else{
				s--;
			}
		},1000);
	var mcode=$("#mobile").val();
	if(mcode=="请输入手机号"){
		alert("请输入手机号");
	}else{
		$.post("__ROOT__/Login/sendCode", {mobile: mcode},
				function (data) {
					if(data.status == 1){
						$('#sendcode').hide();
						$('#sendcode1').show();
						alert(data.msg);
					}else{
						alert(data.msg);
					}
				});
	}
});
$('#ready').click(function(){
	var check_val = $(this).val();
	if(check_val == 1){
		$(this).val(0);
		$(this).checked = false;
	}else{
		$(this).val(1);
		$(this).checked = true ;
	}
});
</script>
</body>
</html>
