<extend name="Base/common"/>
<block name="head">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery.validate.min.js"></script>
    <script type="text/javascript">
        var err=0;
        var endtime= new Date(Date.parse(new Date()) + 7*24*60*60*1000)
        $(function () {
            $(".nextnavon>ul").show();
            $(".label-check>li").bind("click", function () {
                var newhtml = $(this).html();
                if(newhtml=='肖像'){
                    $("#dzxq").hide();
                    $("#dzms").hide();
                }
                if(newhtml=='卡通'){
                    $("#dzxq").show();
                    $("#dzms").show();
                }
                if(newhtml=='征集'){
                    location.href="__ROOT__/Activity/perfect.html";
                }
                $(this).parent().siblings().html(newhtml);
                $("#h-"+$(this).parent().attr("value")).val(newhtml);
            });
            $(".submit").bind("click", function () {
                //alert($("#cusattr").val());
                err=0;
                $("#form0").submit();
            });
            $("#xztp").uploadify({
                "height"          : 55,
                "width"           : 164,
                "buttonClass"     : "tupian",
                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                "buttonImage"     : "__IMG__/optionfile.png",
                "uploader"        : "__ROOT__/Custom/upload.html",
                "fileTypeDesc"    : "请选择jpg gif png文件",
                'fileSizeLimit'   : 0,
                "removeTimeout"   : 0,
                "fileTypeExts"    : '*.jpg;*.gif;*.png',
                'onInit'		  : init,
                'multi'			  : false,
                "onUploadSuccess" : uploadSuccess,
                'onFallback' : function() {
                    alert('未检测到兼容版本的Flash.');
                }
            });
            $("#form0").validate({
                ignore: "",
                errorPlacement: function (error, element) {
                    if (err == 0){
                        alert(error.html());
                    }
                        err++;
                },
                rules:{
                    theme: {
                        required: true
                    },
                    mode: {
                        required: true
                    },
                    imgclass:{
                        required: true
                    },
                    dismode:{
                        required: true
                    },
                    style:{
                        required: true
                    },
                    cusmoney:{
                        required: true,
                        number:true
                    },
                    cusname:{
                        required: true
                    },
                    cuscopyright:{
                        required: true
                    },
                    starttime:{
                        required: true,
                        date:true
                    },
                    endtime:{
                        required: true,
                        date:true
                    }
                },
                messages: {
                    theme: {
                        required: "请选择订制主题或订制用途"
                    },
                    mode: {
                        required: "请选择订制方式"
                    },
                    imgclass:{
                        required: "请选择形象分类"
                    },
                    dismode:{
                        required: "请选择展示方式"
                    },
                    style:{
                        required: "请选择风格"
                    },
                    cusmoney:{
                        required: "请输入订制价格",
                        number:"请输入合适的价格"
                    },
                    cusname:{
                        required: "请输入订制名字"
                    },
                    cuscopyright:{
                        required: "请选择版权设置"
                    },
                    starttime:{
                        required: "请选择开始日期",
                        date:"请输入正确的日期"
                    },
                    endtime:{
                        required: "请选择结束日期",
                        date:"请输入正确的日期"
                    }
                }
            });
            $('#starttime').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                startDate:new Date(),
                autoclose:true,
            }).on('changeDate',function(ev){
                var starttime=$('#starttime').val();
                endtime= new Date(Date.parse(starttime) + 7*24*60*60*1000);
                $('#endtime').datetimepicker('setStartDate',getFormatDate(endtime));
                $('#starttime').datetimepicker('hide');
                $('#endtime').val(getFormatDate(endtime));
            });

            $('#endtime').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                startDate:endtime,
                autoclose:true
            });
            $("#dzxq ul li").click(function(){
                var newhtml="";
                $("#"+$(this).parent().attr("value")).children("li.checkon").each(function(key,val){
                    newhtml=$(val).html()+" "+newhtml;
                });
                $("#h-"+$(this).parent().attr("value")).val(newhtml);
                $(this).parent().hide();
            });

        });
        function init(){
            $('#xztp').css('display','inline-block');
        }

        /* 文件上传成功回调函数 */
        function uploadSuccess(file, data){
            $("#h-imgurl").val(data);
            $('#' + file.id).find('.data').html('上传完毕');
            $("#uploadimg").remove();
            $("#xztp").parent().before('<img id="uploadimg" src="http://erciyuanjie.com'+data+'" style="width:150px;padding-left: 170px;padding-top: 10px;">');
        }
    </script>

</block>
<block name="body">
    <div class="container content">
        <div class="custom">
            <ul class="nextnav">
                    <li><a id="gtag" href="__ROOT__/Custom/pcustom.html">个人订制</a>
                        <ul class="custom-ul">
                            <li class="custom-li"><a href="#">形象</a></li>
                            <li>产品设计</li>
                            <li>漫画</li>
                            <li>插画</li>
                            <li>动画</li>
                            <li>游戏</li>
                            <li>音乐</li>
                            <li>VI</li>
                            <li>广告</li>
                        </ul>
                    </li>
                    <li class="nextnavon"><a id="etag" href="__ROOT__/Custom/ecustom.html">企业订制</a>
                        <ul class="custom-ul">
                            <li class="custom-li"><a href="#">形象</a></li>
                            <li>产品设计</li>
                            <li>漫画</li>
                            <li>插画</li>
                            <li>动画</li>
                            <li>游戏</li>
                            <li>音乐</li>
                            <li>VI</li>
                            <li>广告</li>
                        </ul>
                    </li>
            </ul>
            <div class="custom-content">

                <form id="form0" action="__ROOT__/Custom/customsave.html" method="post">
                    <input type="text" name="uid" value="{$cutominfo.uid}" style="display:none;"/>
                    <input type="text" name="touid" value="{$cutominfo.touid}" style="display:none;"/>
                    <input type="text" id="cusattr" name="cusattr" value="{$cutominfo['cusattr']}" style="display:none;"/>
                    <input id="h-imgurl" type="text" name="imgurl" style="display:none;"/>
                    <input id="h-theme" type="text" name="theme" style="display:none;"/>
                    <input id="h-mode" name="mode" type="text" style="display:none;"/>
                    <input id="h-imgclass" name="imgclass" type="text" style="display:none;"/>
                    <input id="h-dismode" name="dismode" type="text" style="display:none;"/>
                    <input id="h-style1" name="style1" type="text" style="display:none;"/>
                    <input id="h-style2" name="style2" type="text" style="display:none;"/>
                    <input id="h-cuscopyright" name="cuscopyright" type="text" style="display:none;"/>
                    <input id="h-cusissue1" name="cusissue1" type="text" style="display: none;"/>
                    <input id="h-cusissue2" name="cusissue2" type="text" style="display: none;"/>
                    <ul>
                        <li>Hi，{:session('user_auth.username')}，欢迎您来订制；带有 <span>*</span> 的项目都是必填项哦。</li>

                            <li class="fill">
                                <h5><span>*</span>订制用途：</h5>
                                <span class="label-span"><a href="javascript:;">请选择订制用途</a>
                                <ul class="label-check radio" value="theme">
                                    <li class="checkon">吉祥物</li>
                                    <li>动漫产业化</li>
                                </ul>
                                </span></li>
                            <li class="fill">
                                <h5>用途描述：</h5>
                                <textarea name="themedesc" class="description" onkeyup="strLenCalc($(this), 'checklen', 4000);"
                                              onfocus="if(value=='写出您订制用途的描述，例如：能够代表我们公司的吉祥物，更多充分的展现我们公司的文化发展等。'){value='';this.className='description02'}"
                                              onblur="if (value==''){value='写出您订制用途的描述，例如：能够代表我们公司的吉祥物，更多充分的展现我们公司的文化发展等。';this.className='description'}">写出您订制用途的描述，例如：能够代表我们公司的吉祥物，更多充分的展现我们公司的文化发展等。</textarea>
                                <h6 class="checklen">还可以输入 <span class="word-count">2000</span> 字符 / 汉字</h6>
                            </li>

                        <li class="fill">
                            <h5><span>*</span>订制方式：</h5>
            <span class="label-span"><a href="javascript:;">请选择订制方式</a>
            <ul class="label-check radio" value="mode">
                <li class="checkon">一对一</li>
                <li>征集</li>
            </ul>
            </span></li>
                        <li class="fill">
                            <h5><span>*</span>形象分类：</h5>
            <span class="label-span"><a href="javascript:;">请选择形象分类</a>
            <ul class="label-check radio" value="imgclass">
                <li class="checkon">肖像</li>
                <li>卡通</li>
            </ul>
            </span></li>
                        <li class="fill">
                            <h5><span>*</span>展示方式：</h5>
            <span class="label-span"><a href="javascript:;">请选择展示方式</a>
            <ul class="label-check radio" value="dismode">
                <li class="checkon">数码/电脑绘画</li>
                <span style="color:#c5c5c5;background: none;padding-left: 10px;font-size: 15px;">有纸绘画</span>
            </ul>
            </span></li>
                        <li class="fill">
                            <h5><span>*</span>风格选择：</h5>
            <span class="label-span"> <a href="javascript:;">请选择一级分类</a>
            <ul class="label-check radio" value="style1">
                <li class="checkon">现代Q版</li>
                <li>现代写实</li>
                <li>现代抽象</li>
                <li>中国风Q版</li>
                <li>中国风写实</li>
                <li>无</li>
            </ul>
            </span> <span class="label-span"> <a href="javascript:;">请选择二级分类</a>
            <ul class="label-check radio" value="style2">
                <li class="checkon">国画</li>
                <li>水彩</li>
                <li>油彩</li>
                <li>素描</li>
                <li>速写</li>
                <li>版画</li>
                <li>雕塑</li>
                <li>无</li>
            </ul>
            </span></li>
                        <li class="fill">
                            <h5>上传图片：</h5>
                            <input id="xztp" type="button" value="选择图片">
                            <h6 class="upload-tips" style="margin-top: -55px;">
                                单张图片5M以内，RGB模式，支持jpg/gif/png格式，请上传需要绘画的照片。您还可以上传一张您喜欢的作品风格，以便作者参考；没有上传，作者会根据您的描述，给您满意的作品。</h6>
                        </li>
                        <!--“订制描述”和“订制需求”只有用户选择“形象分类==》卡通”才会显示-->
                        <li class="fill">
                            <h5>订制描述：</h5>
                        <textarea class="description" name="cusdesc" cols="" rows=""
                                  onkeyup="strLenCalc($(this), 'checklen', 4000);"
                                  onfocus="if(value=='写出你想要的作品外貌、性格特征，兴趣、爱好、比较常用的表情、最喜欢的食物、未来的愿望等。'){value='';this.className='description02'}"
                                  onblur="if (value==''){value='写出你想要的作品外貌、性格特征，兴趣、爱好、比较常用的表情、最喜欢的食物、未来的愿望等。';this.className='description'}">写出你想要的作品外貌、性格特征，兴趣、爱好、比较常用的表情、最喜欢的食物、未来的愿望等。</textarea>
                            <h6 class="checklen">还可以输入 <span class="word-count">2000</span> 字符 / 汉字</h6>
                        </li>
                        <li class="fill showohide" id="dzxq">
                            <h5><span>*</span>订制需求：</h5>
												<span class="label-span"><a href="javascript:;">请选择卡通动作</a>
												<ul id="cusissue1" class="label-check" value="cusissue1">
                                                    <li class="checkon">谢谢</li>
                                                    <li>跳跳</li>
                                                    <li>奔跑</li>
                                                    <li>摸摸头</li>
                                                    <li>打招呼</li>
                                                </ul>
												</span> <span class="label-span"> <a href="javascript:;">请选择卡通表情</a>
												<ul id="cusissue2" class="label-check" value="cusissue2">
                                                    <li class="checkon">喜</li>
                                                    <li>怒</li>
                                                    <li>哀</li>
                                                    <li>乐</li>
                                                    <li>萌</li>
                                                    <li>囧</li>
                                                </ul>
												</span>
                            <h4> <span class="auto">
														<input name="cusissue3" type="checkbox" value="">
														<span></span>卡通三视图</span> <span class="auto">
														<input name="cusissue3" type="checkbox" value="" >
														<span></span>角色说明</span> <span class="auto">
														<input name="cusissue3" type="checkbox" value="">
														<span></span>故事梗概</span> <span class="auto">
														<input class="clear-check" name="" type="checkbox" value="">
														<span></span>无</span> </h4>
                        </li>
                        <!--“订制描述”和“订制需求”只有用户选择“形象分类==》卡通”才会显示-->
                        <li class="fill">
                            <h5><span>*</span>订制价格：</h5>
                            <input maxlength="8" name="cusmoney" type="text" class="gray" value="请进行填写价格"
                                   onclick="if(this.value=='请进行填写价格'){this.value='';this.className='white'}"
                                   onblur="if(this.value=='') {this.value='请进行填写价格';this.className='gray'}">
                            <h6 class="price-tips">数码 / 电脑绘画参考价：100~5000元 表情参考价：50元 / 个 动作参考价：80元 / 个</h6>
                        </li>
                        <li class="fill">
                            <h5><span>*</span>时间期限：</h5>
                            <!--<span class="time-span activ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日 </span>-->
                            <!--<span class="activ-txt">至</span> <span class="time-span activ"> &nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</span>-->
                            <input type="text" id="starttime" name="starttime" value="" placeholder="起始时间" /> -
                            <input type="text" id="endtime" name="endtime" value="" placeholder="结束时间" />
                            <h6 class="price-tips">请填写你希望最迟收到作品的时间期限，不能低于七天哦。</h6>
                        </li>
                        <li class="fill name">
                            <h5><span>*</span>名称：</h5>
                            <input name="cusname" type="text" class="gray" value="请写出你的作品名称，让你的作品更加丰富多彩。" onkeyup="strLenCalc($(this), 'price-tips', 100);"
                                   onclick="if(this.value=='请写出你的作品名称，让你的作品更加丰富多彩。'){this.value='';this.className='white'}"
                                   onblur="if(this.value=='') {this.value='请写出你的作品名称，让你的作品更加丰富多彩。';this.className='gray'}">
                            <h6 class="price-tips">还可以输入 <span>50</span> 字符 / 汉字</h6>
                        </li>
                        <li class="fill copyright">
                            <h5><span>*</span>版权设置：</h5>
            <span class="label-span"><a href="javascript:;">禁止匿名转发；禁止商业使用；禁止个人使用。</a>
            <ul class="label-check radio noall" value="cuscopyright">
                <li class="checkon">禁止匿名转发；禁止商业使用；禁止个人使用</li>
                <li>禁止匿名转发；禁止商业使用</li>
                <li>不限制作品用途</li>
            </ul>
            </span></li>
                        <li class="fill btn">
                            <input class="submit" name="" type="button"
                                   value="提交">
                            <!--订制方式选择“征集时跳转链接”
                            <input class="submit" name="" type="button" onClick="javascript:location.href='perfect.html'"   value="提交">
                            -->
                        </li>
                    </ul>
                </form>

            </div>
        </div>
    </div>
</block>