<extend name="Base/common"/>
<block name="head">
    <script type="text/javascript">
        var pctag;
        $(function () {
            pctag=$("#dzzt").html();
            $(".custom-li").bind('click',function () {
                var newhtml = $(this).children().html();
                $(this).parent().siblings().html(newhtml);
            });
        });
    </script>

</block>
<block name="body">
    <div class="container content">
        <div class="custom">
            <ul class="nextnav">
                <li class="nextnavon">
                    <a href="javascript:;">订制标签</a>
                    <ul class="custom-ul">
                        <li class="custom-li"><a href="javascript:;">全部</a></li>
                        <volist name="tags" id="data">
                            <eq name="i" value="1">
                            <li class="custom-li"><a href="javascript:;">{$data.tag_content}</a></li>
                                <else />
                                <li>{$data.tag_content}</li>
                            </eq>
                        </volist>
                    </ul>
                </li>
                <li><a href="javascript:;">订制来源</a>
                    <ul class="custom-ul">
                        <li class="custom-li"><a href="javascript:;">全部</a></li>
                        <li class="custom-li"><a href="javascript:;">个人订制</a></li>
                        <li class="custom-li"><a href="javascript:;">企业订制</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;">订制主题</a>
                    <ul class="custom-ul" id="dzzt">
                        <li class="custom-li"><a href="javascript:;">全部</a></li>
                        <volist name="zttag" id="data">
                            <li class="custom-li"><a href="javascript:;">{$data.tag_content}</a></li>
                        </volist>
                        <li class="custom-li"><a href="javascript:;">吉祥物</a></li><li class="custom-li"><a href="javascript:;">动漫产业化</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;">最新上传</a>
                    <ul class="custom-ul">
                        <li class="custom-li"><a href="javascript:;">最新上传</a></li>
                        <li class="custom-li"><a href="javascript:;">人气最高</a></li>
                        <li class="custom-li"><a href="javascript:;">价格最低</a></li>
                        <li class="custom-li"><a href="javascript:;">价格最高</a></li>
                    </ul>
                </li>
                <li class="top-btn"><input name="" type="button" onClick="javascript:location.href='__ROOT__/Custom/custom/formid/{:is_login()}.html'"
                    value="我要订制">
                </li>
            </ul>
        </div>
        <div class="module">
            <div class="module-tle">
                <h6>共 <span>{$wcount}</span> 组订制作品</h6>
            </div>
            <ul>
                <volist name="custom" id="data" mod="4">
                    <li><a href="__ROOT__/Custom/detail/cusid/{$data.cusid}.html">
                        <img src="http://localhost{$data.imgurl}" alt="订制图片-{$data.cusname}" style="display：block;width: 293px;height: 222px;" onerror="this.src='__IMG__/cmy.png'"/></a>

                        <h3>{$data.cusname|mb_substr=0,10,'utf-8'}</h3>
                        <h4>￥{$data.cusmoney}</h4>
                        <span class="label-a"><a href="javascript:;">{$data.style}</a></span>

                        <h2>{$data.cusstatus}<span>接单状态</span></h2>
                        <h5><span>{$data.open_count}</span>人气</h5>
                        <h6><a href="__ROOT__/Author/details/id/{$data.uid}.html" style="color: #0390e9;">{$data.uid|getUserName}
                            <if condition="($data.uid|getUserName) eq null">
                                <img src="__IMG__/touxiang.png" style="width: 41px;height: 41px;" alt="用户头像"/>
                                <else />
                                <img src="{$data.uid|getUserImg}" style="width: 41px;height: 41px;" onerror="this.src='__IMG__/touxiang.png'"/>
                            </if></a></h6>
                    </li>
                    <eq name="mod" value="3"></ul><ul></eq>
                </volist>
            </ul>
            <div class="page">
                <ul>
                    <li class="lion"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="omission">…</li>
                    <li><a href="#">30</a></li>
                    <li class="goto"><input name="" type="text"></li>
                    <li class="nextpage"><a href="#">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
</block>