<extend name="Base/common"/>
<block name="head">
	<script type="text/javascript">
		$(function(){
			$("#comfin").click(function(){
				$("#form").submit();
			});
			$(".xz-author").click(function(){
				alert($(this).attr("value"));
				$("#uid").val($(this).attr("value"));
				var flag = $(this).hasClass("xz-authoron");
				$(".xz-author").each(function(){
					if($(this).hasClass("xz-authoron")){
						$(this).removeClass("xz-authoron");
					}
				});
				if(!flag){
					$(this).addClass("xz-authoron");
				}
			});
		});

	</script>

</block>
<block name="body">
    <div class="container content">
        <div class="custom">
            <ul class="nextnav no-drop">
                <li><a href="javascript:;">选择作者</a></li>
            </ul>
        </div>
        <div class="module">
            <div class="module-tle authortle">
                <h5>Hi，<span>{:session('user_auth.username')}</span>，通过您提交的订制需求为您推荐以下作者，请进行选择。</h5>
            </div>
            <div class="author-content">
                <div class="author-filter">
                </div>
                <div class="author-module author-main">
                    <div class="author-div">
                        <div class="author-leftdiv">
                            <div class="author-tle">接单作者</div>
							<volist name="qduser" id="data">
								<div class="module-left xz-author" value="{$data.id}"> <a href="__ROOT__/Author/details/id/{$data.id}/toid/{$data.id}.html"><empty name="data.header_img">
									<img style="width: 80px;height: 80px;" src="__IMG__/touxiang.png"/>
									<else />
									<img src="{$data.header_img}" class="author" style="width: 80px;height: 80px;" onerror="this.src='__IMG__/touxiang.png'"/>
								</empty></a> <span>
							<h3>{$data.nick_name}</h3>
							<h6>{$data.address} / {$data.tags_content|mb_substr=0,4,'utf-8'}</h6>
							<h6>人气：{$data.pop_count}</h6>
							<h6>粉丝：{$data.fans_count} / 作品：{$data.work_count}</h6>
							<h6>成交量：{$data.work_count}</h6>
							</span>
								</div>
							</volist>

                        </div>
                        <div class="author-rightdiv">
                            <div class="author-tle">推荐作者</div>
							<volist name="tjuser" id="data">
								<div class="module-left xz-author" value="{$data.id}"> <a href="__ROOT__/Author/details/id/{$data.id}/toid/{$data.id}.html"><empty name="data.header_img">
									<img style="width: 80px;height: 80px;" src="__IMG__/touxiang.png"/>
									<else />
									<img src="{$data.header_img}" class="author" style="width: 80px;height: 80px;" onerror="this.src='__IMG__/touxiang.png'"/>
								</empty></a> <span>
							<h3>{$data.nick_name}</h3>
							<h6>{$data.address} / {$data.tags_content|mb_substr=0,4,'utf-8'}</h6>
							<h6>人气：{$data.pop_count}</h6>
							<h6>粉丝：{$data.fans_count} / 作品：{$data.work_count}</h6>
							<h6>成交量：{$data.work_count}</h6>
							</span>
								</div>
							</volist>
                        </div>
                    </div>
                </div>
        <span class="details-btn">
			<form id="form" action="__SELF__" method="post">
				<input name="cusid" type="text" value="{$cusid}" style="display: none;">
				<input id="uid" name="user_id" type="text" value="{$uid}" style="display: none;">
			</form>
			<input id="comfin" name="" type="button" value="确认提交">
          	<input type="button" onClick="javascript:location.href='__ROOT__/Order/ordercustomlist.html'" value="返 回">
          </span>
            </div>
        </div>
    </div>


</block>