<extend name="Base/common"/>
<block name="head">
	<script type="text/javascript">
		$(function(){
			$(".xz-author").click(function(){
				var flag = $(this).hasClass("xz-authoron");
				$(".xz-author").each(function(){
					if($(this).hasClass("xz-authoron")){
						$(this).removeClass("xz-authoron");
					}
				});
				if(!flag){
					$(this).addClass("xz-authoron");
				}
			});
		});

	</script>

</block>
<block name="body">
    <div class="container content">
        <div class="custom">
            <ul class="nextnav no-drop">
                <li><a href="javascript:;">选择作者</a></li>
            </ul>
        </div>
        <div class="module">
            <div class="module-tle authortle">
                <h5>Hi，<span>二郎神</span>，通过您提交的订制需求为您推荐以下作者，请进行选择。</h5>
            </div>
            <div class="author-content">
                <div class="author-filter">
                </div>
                <div class="author-module author-main">
                    <div class="author-div">
                        <div class="author-leftdiv">
                            <div class="author-tle">接单作者</div>
                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>

                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>
                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>

                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>
                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>

                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>
                        </div>
                        <div class="author-rightdiv">
                            <div class="author-tle">推荐作者</div>
                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>
                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>
                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>
                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>
                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>
                            <div class="module-left xz-author"> <a href="author details.html"><img src="__IMG__/author-img04.png"/></a> <span>
						<h3>大眼眶熊猫</h3>
						<h6>北京 / 形象  漫画</h6>
						<h6>人气：2324</h6>
						<h6>粉丝：230 / 作品：21</h6>
						<h6>成交量：65</h6>
						</span>
                            </div>
                        </div>
                    </div>
                </div>
        <span class="details-btn">
          <input name="" type="button" onClick="javascript:;'" value="确认提交">
          <input name="" type="button" onClick="javascript:;'" value="返 回">
          </span>
            </div>
        </div>
    </div>


</block>