<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keyword" content="">
<meta name="author" content="">
<title>注册</title>
<link rel="stylesheet" href="__CSS__/base1.css" />
<link rel="stylesheet" href="__CSS__/master.css" />
<!--[if lt IE 9]>
      <script src="__JS__/html5shiv.min.js"></script>
<![endif]-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.validate.min.js"></script>
<script type="text/javascript">
	jQuery.validator.addMethod("isMobile", function (value, element) {
			var length = value.length;
			var mobile = /^(((1[3578][0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
			return this.optional(element) || (length == 11 && mobile.test(value));
			}, "请正确填写您的手机号码");
	$(function(){
		$(".retrieve-btn").click(function(){
			$("#form0").submit();
		});
		$("#form0").validate({
			focusCleanup:true,
			errorPlacement: function (error, element) {
					$("#message").html(error.html());
					//alert(error.html());
					//element.siblings('span').remove();
					//element.parent().append('<span class="prompt">'+error.html()+'</span>');
					//element.focus();
			},
			rules: {
				user_name: {
					required: true,
					remote: "__ROOT__/Login/rcheckUserName",
					rangelength: [4, 16]
				},
				mobile:{
					isMobile: true,
					remote: "__ROOT__/Login/rcheckMobile"
				},
				password: {
					required:true,
					rangelength: [6, 20]
				},
				cpassword:{
					equalTo:"#password"
				},
				vercode : {
					vdefault:true,
					required:true
				}
			},
			messages: {
				user_name: {
					required: "请输入用户名",
					remote: "用户名已经存在",
					rangelength:"用户名，4~16个字符，字母/中文/数字/下划线"
				},
				mobile:{
					remote:"手机号已经注册过，请使用手机号登录"
				},
				password: {
					required: "请输入密码!",
					rangelength: "密码必须是6到20个字符"
				},
				cpassword:{
					equalTo:"两次密码输入不一致"
				},
				vercode:{
					vdefault:"请输入验证码",
					required:"请输入验证码"
				}
			}
		});
		$("#sendcode").click(function(){
			var mcode=$("#mobile").val();
			if(mcode=="请输入手机号"){
				alert("请输入手机号");
			}else{
				$.post("__ROOT__/Login/sendCode", {mobile: mcode},
						function (data) {
							alert(data);
						});
			}


		});
		//阅读
		$('#ready').click(function(){
			var check_val = $(this).val();
			if(check_val == 1){
				$(this).val(0);
				$(this).checked = false;
			}else{
				$(this).val(1);
				$(this).checked = true ;
			}
		});
	});
</script>
</head>

<body>
<section> 
		<!--------页面头部--------->
		<header class="container logo02">
				<div class="header-right">
						<ul>
							<li>已有账户，<a href="__ROOT__/Login/login.html">马上登录</a></li>
							<li class="gray">|</li>
							<li><a href="__ROOT__/Index.html">返回二次元界</a></li>
						</ul>
				</div>
		</header>
		<!--------登录页面内容部分--------->
		<div class="container register">
				<div class="register-div">
						<ul class="nextnav">
							<li class="nextnavon"><a href="__ROOT__/Login/register.html">注册</a></li>
							<li><a href="__ROOT__/Author/pAuthorReg.html">个人作者注册</a></li>
							<li><a href="__ROOT__/Author/eAuthorReg.html">企业作者注册</a></li>
							<li><a href="__ROOT__/Custom/pCustomReg.html">个人订制注册</a></li>
							<li><a href="__ROOT__/Custom/eCustomReg.html">企业订制注册</a></li>
						</ul>
						<form id="form0" action="__SELF__" method="post">
						<ul class="login-ul">
								<li class="txt-input username"><img src="__IMG__/login-img03.gif"/ alt="用户名图标">
										<input name="user_name" type="text" value="用户名，4~16个字符，字母/中文/数字/下划线"  class="gray" onclick="if(this.value=='用户名，4~16个字符，字母/中文/数字/下划线'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='用户名，4~16个字符，字母/中文/数字/下划线';this.className='gray'}">
										<span class="prompt">用户名是您唯一的名称注册后将不可修改，请您谨慎填写</span></li>
								<li class="txt-input phone"><img src="__IMG__/login-img01.gif" alt="手机号图标"/>
										<input name="mobile" id="mobile" type="text" value="请输入手机号"  class="gray" onclick="if(this.value=='请输入手机号'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入手机号';this.className='gray'}">
								</li>
								<li class="txt-input password"><img src="__IMG__/login-img02.gif" alt="密码图标"/>
										<input name="password" id="password" type="password" value="请输入密码"  class="gray" onclick="if(this.value=='请输入密码'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入密码';this.className='gray'}">
								</li>
								<li class="txt-input confirm"><img src="__IMG__/login-img04.gif" alt="确认密码图标"/>
										<input name="cpassword" type="password" value="请确认密码"  class="gray" onclick="if(this.value=='请确认密码'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请确认密码';this.className='gray'}">
								</li>
								<li class="txt-input verify"><img src="__IMG__/login-img05.gif" alt="验证码图标"/>
										<input name="vercode" type="text" value="请输入验证码"  class="gray" onclick="if(this.value=='请输入验证码'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入验证码';this.className='gray'}">
										<input id="sendcode" name="" type="button" value="验证码">
								</li>
								<li class="txt-input invite"><img src="__IMG__/login-img06.gif" alt="邀请码图标"/>
										<input name="invitecode" type="text" value="请确认邀请码"  class="gray" onclick="if(this.value=='请确认邀请码'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请确认邀请码';this.className='gray'}">
										<span class="prompt">通过您的好友邀请，输入邀请码如没有邀请码则不用填写</span></li>
								<li id="message" class="txt-input invite" style="color: red;"></li>
								<li class="auto">
										<input name="ready" type="checkbox" value="1" checked id="ready">
										<span></span>我已阅读并接受<a href="/2cyj/Index/about#yisi" target="__blank">版权声明</a>和<a href="/2cyj/Index/about#yisi" target="__blank">隐私保护</a>条款</li>
								<li>
										<input class="retrieve-btn" name="" type="button" value="马上注册">
								</li>
						</ul>
						</form>
				</div>
		</div>
		<!--------页面底部--------->
		<footer class="container footer">版权所有：北京世纪元通网络科技有限公司  京ICP备14025166号-1</footer>
</section>
</body>
</html>
