<extend name="Base/common"/>

<block name="body">
    <div class="container content">
        <div class="custom">
            <ul class="nextnav no-drop">
                <li class="nextnavon"><a href="javascript:;">我的收藏</a></li>
            </ul>
        </div>
        <div class="module">
            <div class="module-tle">
                <h5>Hi， <span>{:session('user_auth.username')}</span> ，发现更多精彩订制作品记得及时收藏，<span>进行定制</span> 哦。</h5>
            </div>
            <div class="author-filter">
                <h5> 标签： <a href="javascript:;" class="aon">全部</a> <a href="javascript:;">形象</a> <span>漫画</span> <span>插画</span> <span>产品设计</span> <span>动画</span> <span>游戏</span> <span>音乐</span> <span>VI</span> <span>广告</span></h5>
            </div>
            <ul>
                <li><img src="__IMG__/img06.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img07.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">一对一</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img08.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">个人订制</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img09.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">企业订制</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
            </ul>
            <ul>
                <li><img src="__IMG__/img10.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img11.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img12.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img13.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
            </ul>
            <ul>
                <li><img src="__IMG__/img06.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img07.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">一对一</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img08.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img09.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
            </ul>
            <ul>
                <li><img src="__IMG__/img10.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img11.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img12.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img13.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
            </ul>
            <ul>
                <li><img src="__IMG__/img06.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img07.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">一对一</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img08.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img09.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
            </ul>
            <ul>
                <li><img src="__IMG__/img10.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img11.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img12.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
                <li><img src="__IMG__/img13.gif" alt="作品图片-大眼眶熊猫"/>
                    <h3>大眼眶熊猫</h3>
                    <h4>￥500</h4>
                    <span class="label-a"><a href="javascript:;">动漫</a><a href="javascript:;">自创</a></span>
                    <h5><span>1223</span>人气  /<span>876</span>点赞  /<span>60</span>收藏 </h5>
                </li>
            </ul>
        </div>
        <div class="page">
            <ul>
                <li class="lion"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="omission">…</li>
                <li><a href="#">30</a></li>
                <li class="goto">
                    <input name="" type="text">
                </li>
                <li class="nextpage"><a href="#">下一页</a></li>
            </ul>
        </div>
    </div>
    </div>
</block>