<extend name="Base/common"/>

<block name="body">
<div class="container edit">
    <div class="edit-div">
        <h5>修改邮箱账号</h5>
        <ul class="login-ul">
            <li class="txt-input username">
                <input name="" type="text" value="新邮箱"  class="gray" onclick="if(this.value=='新邮箱'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='新邮箱';this.className='gray'}">
            </li>
            <li class="txt-input verify">
                <input name="" type="text" value="请输入验证码"  class="gray" onclick="if(this.value=='请输入验证码'){this.value='';this.className='black'}" onblur="if(this.value=='') {this.value='请输入验证码';this.className='gray'}">
                <input name="" type="button" value="验证码">
            </li>
            <li>
                <input class="retrieve-btn" name="" type="button" onClick="javascript:location.href='edit-data.html'" value="确 定">
                <input class="retrieve-btn" name="" type="button" onClick="javascript:location.href='edit-data.html'" value="返 回">
            </li>
        </ul>
    </div>
</div>
</block>