<extend name="Base/common"/>
<block name="body">
    <div class="container content">
        <div class="custom">
            <ul class="nextnav">
                <li class="nextnavon activ-li"> <a href="#">我的邀请</a> </li>
            </ul>
            <div class="custom-content">
                <div class="module-tle invite-h5">
                    <h5>Hi，<span>{:getUserNameById(is_login())}</span>，以下是举办的活动，快来参加活动，赢取丰厚的奖金。</h5>
                </div>
                <div class="module recommend">
                    <div class="module-tle">
                        <h3>邀请好友</h3>
                    </div>
                    <ul class="invite-content">
                        <li><h1>1<span>我的邀请码</span></h1><h3><span>这是您专属的邀请码向朋友发送专属的<br/>邀请码并进行注册就可以<br/>赢取奖金啦！</span>{$uinfo.mycode}</h3></li>
                        <li class="exclusive-span"><h1>2<span>专属连接</span></h1><h3><span>这是您专属的邀请连接，请通过QQ、微信<br/>发送给朋友就可以赢取奖金：</span><span class="border-span">我最近在二次元界发现更多好的作品，你可以在这上面进行订制，订制一个专属你得形象，快来试试吧！<a href="__ROOT__/Index.html">http://www.2ciyuanjie.com</a></span></h3></li>
                        <li><h1>3<span>分享设计</span></h1><h3><span>快速分享到社区：</span>
                                	<!--<span class="share">-->
                                    	<div class="bshare-custom icon-medium-plus third-party"><div class="bsPromo bsPromo2"></div><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到QQ好友" class="bshare-qqim" href="javascript:void(0);"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count" style="float: none;">40.7K</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
      <!--<span class="third-party"> <a title="分享到新浪微博"  class="bshare-sinaminiblog sina"></a><a href="javascript:;" class="sina"></a> <a href="javascript:;" class="wechat"></a> <a href="javascript:;" class="qq"></a> <a href="javascript:;" class="space"></a> </span> -->
                </div>
                                     <!--</span>-->
                        </h3>

                        </li>
                    </ul>
                </div>
                <div class="module recommend">
                    <div class="module-tle">
                        <h3>我邀请的人</h3>
                    </div>
                    <ul>
                        <volist name="yquser" id="data" mod="4">
                            <li style="display: block;">
                                <a href="__ROOT__/Author/details/id/{$data.id}.html">
                                    <empty name="data.header_img">
                                        <img style="width: 80px;height: 80px;" src="__IMG__/touxiang.png"/>
                                        <else />
                                        <img src="{$data.header_img}" class="author" style="width: 80px;height: 80px;" onerror="this.src='__IMG__/touxiang.png'"/>
                                    </empty>
                                    <!--<img src="__IMG__/user-img01.gif"/>-->
                                </a>
						<span>
						 <h5><a href="__ROOT__/Author/details/id/{$data.id}.html" style="color: #0390e9;">{$data.user_name}</a></h5>
						 <h6>{$data.address} / {$data.tags_content|strtr=';',' '|mb_substr=1,10,'UTF-8'}</h6>
						 <h6>粉丝：{$data.fans_count}／ 作品：{$data.workcount}</h6>
						</span>
                            </li>
                            <eq name="mod" value="3"></ul><ul></eq>
                    </volist>
                    </ul>
                </div>
            </div>
            {$show}
        </div>
    </div>
</block>