<extend name="Base/common"/>
<block name="body">
    <div class="container module-tle edittle">
        <h5>Hi，<span>二郎神</span>，这是属于你自己的个人主页。您可以 <span>设置个人主页皮肤、修改个人资料</span> 和 <span>发布作品</span>，把他充实起来吧！ </h5>
        <a href="javascript:;"><img src="__IMG__/colse-btn02.gif"/></a> </div>
    <div class="container author-details">
        <div class="details-left"> <span> <img src="__IMG__/author-img03.gif"/>
      <h5><a class="edit-data" href="javascript:;">修改资料</a></h5>
      <h5><a class="edit-photo" href="custom.html">修改头像</a></h5>
      <h5><a class="edit-theme" href="javascript:;">主页换肤</a></h5>
      </span> <span class="author-name">
      <h3>番茄一点红</h3>
      <h5>北京</h5>
      </span> <span class="author-status">
      <h3>34526 <span>人气</span><span> / </span> 23 <span>粉丝</span></h3>
      </span> <span class="author-status">
      <h3>21 <span>积分</span><span>/</span> 98% <span>好评</span><span>/</span> 九品<span>等级</span></h3>
      </span> <span class="author-status">
      <h3>113<span>收藏</span><span>/</span> 24 <span>关注</span></h3>
      </span> </div>
    </div>
    <div class="container content">
        <div class="custom">
            <ul class="nextnav no-drop author-nav">
                <li class="nextnavon"><a href="javascript:;">我的订单</a></li>
                <li><a href="javascript:;">我的作品</a></li>
                <li><a href="javascript:;">收藏作品</a></li>
                <li><a href="javascript:;">关注作者</a></li>
            </ul>
        </div>
        <div class="author-content">
            <div class="module">
                <div class="module-tle authortle">
                    <h5>Hi，<span>二郎神</span>，欢迎查看您的订单，为了让您能更清楚自己的交易详情。 </h5>
                </div>
                <div class="author-filter">
                    <h5> 状态： <a href="javascript:;" class="carryout aon"> 全部订单</a> <a href="javascript:;" class="carryout"> 已完成</a> <a href="javascript:;" class="current">进行中</a><a href="javascript:;" class="current">未评价</a></h5>
                </div>
                <div class="order-left nofloat"> <span class="order-tle">2015-07-27   订单号：836436434673467</span>
                    <div class="order-content order-main"> <img src="__IMG__/order-img01.gif"/> <span>
            <h4>奇幻的爱情之旅</h4>
            <h5>订制主题：浪漫的爱情 <span> 标签：形象 </span> <span>形象分类：肖像</span></h5>
            <h5>订制方式：一对一 <span>展示方式：数码 / 电脑绘画</span></h5>
            <h5>风格选择：现代Q版 <span>速写</span></h5>
            <h5>订制价格：300元 <span>订制时间：10天</span></h5>
            </span> </div>
                    <div class="price">
                        <h4>￥300</h4>
                        <h5>（含运费：￥0.00）</h5>
                    </div>
                    <div class="operating"> <span><a href="javascript:;">交易成功</a><a class="report-a" href="javascript:;">订单详情</a></span>
                        <h5 class="evaluate-btn"><a href="javascript:;">评价</a></h5>
                    </div>
                </div>
                <div class="order-left nofloat"> <span class="order-tle">2015-07-27   订单号：836436434673467</span>
                    <div class="order-content order-main"> <img src="__IMG__/order-img01.gif"/> <span>
            <h4>奇幻的爱情之旅</h4>
            <h5>订制主题：浪漫的爱情 <span> 标签：形象 </span> <span>形象分类：肖像</span></h5>
            <h5>订制方式：一对一 <span>展示方式：数码 / 电脑绘画</span></h5>
            <h5>风格选择：现代Q版 <span>速写</span></h5>
            <h5>订制价格：300元 <span>订制时间：10天</span></h5>
            </span> </div>
                    <div class="price">
                        <h4>￥300</h4>
                        <h5>（含运费：￥0.00）</h5>
                    </div>
                    <div class="operating"> <span><a href="javascript:;">交易成功</a><a class="report-a" href="javascript:;">订单详情</a></span>
                        <h5 class="evaluate-btn"><a href="javascript:;">评价</a></h5>
                    </div>
                </div>
                <div class="order-left nofloat"> <span class="order-tle">2015-07-27   订单号：836436434673467</span>
                    <div class="order-content order-main"> <img src="__IMG__/order-img01.gif"/> <span>
            <h4>奇幻的爱情之旅</h4>
            <h5>订制主题：浪漫的爱情 <span> 标签：形象 </span> <span>形象分类：肖像</span></h5>
            <h5>订制方式：一对一 <span>展示方式：数码 / 电脑绘画</span></h5>
            <h5>风格选择：现代Q版 <span>速写</span></h5>
            <h5>订制价格：300元 <span>订制时间：10天</span></h5>
            </span> </div>
                    <div class="price">
                        <h4>￥300</h4>
                        <h5>（含运费：￥0.00）</h5>
                    </div>
                    <div class="operating"> <span><a href="javascript:;">交易成功</a><a class="report-a" href="javascript:;">订单详情</a></span>
                        <h5 class="evaluate-btn"><a href="javascript:;">评价</a></h5>
                    </div>
                </div>
            </div>
            <div class="page">
                <ul>
                    <li class="lion"><a href="javascript:;">1</a></li>
                    <li><a href="javascript:;">2</a></li>
                    <li><a href="javascript:;">3</a></li>
                    <li class="omission">…</li>
                    <li><a href="javascript:;">30</a></li>
                    <li class="goto">
                        <input name="" type="text">
                    </li>
                    <li class="nextpage"><a href="javascript:;">下一页</a></li>
                </ul>
            </div>
            <div class="report-content order-details" style="display:none;">
                <div class="report-tle">订单详情<a href="javascript:;"><img src="__IMG__/colse-btn.gif"/></a></div>
                <div class="report-main">
                    <h4>当前订单状态：交易成功 <span>交易成功，请及时给作者评价。</span></h4>
          <span class="details-list">
          <h5>作者信息</h5>
          <h5>昵称：二郎神    地区：北京市</h5>
          <h5>订单号：923893743</h5>
          <h5>完成时间：2015-08-08  18：00：00</h5>
          <h5>付款时间：2015-08-08  18：00：00     确认时间：2015-08-08  18：00：00</h5>
          <span class="actually">
          <h3>实付款：<span>￥300.00</span></h3>
          </span> </span> </div>
                <div class="report-btn evaluation-btn">
                    <input name="" type="button" value="评 价">
                </div>
            </div>
        </div>
    </div>
</block>