<extend name="Base/common"/>
<block name="body">
<link href="__CSS__/index-style.css" rel="stylesheet" type="text/css">
<div class="header">
		<div class="con"></div>
</div>
<div class="nav1">
		<div class="nav_c">
				<ul>
						<li><a class="home" href="/activity/cyzhindex">活动首页</a></li>
						<li><a class="works" href="works.html">专业组参赛作品展示</a></li>
						<li><a class="works" href="worksnew.html">新星组参赛作品展示</a></li>
						<li><a class="works on" href="join.html">设计说明</a></li>
						<!-- <li><a class="works" id="js_contact" style="" href="#contact">我要预订</a></li> -->
				</ul>
				<div class="join"><a href="__ROOT__/MyCenter/uploadWork/activityid/1.html">我要参加</a></div>
		</div>
</div>
<div class="clearfloat"></div>
<div class="content">
		<div class="box">
				<div class="title">流程说明</div>
				<div class="text"> <img src="__IMG__/flow.jpg">
						<h2>投稿方式：</h2>
						<p>登录二次元界，选择创意中华投稿，按照需求提交相关信息和作品。</p>
						<p>作者在二次元界平台上浏览上传的作品，确保上传无误。</p>
						<p>若有误可拨打010-60600083，请与我们客服人员联系。</p>
				</div>
		</div>
		<div class="box">
				<div class="title">作品范例</div>
				<div class="text">
						<div class="sst"><img src="__IMG__/sst.jpg" width="450" height="340">
								<h3>三视图</h3>
						</div>
						<div class="bq"><img src="__IMG__/bq.jpg" width="450" height="340">
								<h3>表情</h3>
						</div>
						<div class="clearfloat"></div>
						<p class="ind"> 在一片广阔的菜地中，住着很多昆虫和小动物。其中包括蚂蚁们的王国。强蚁是一只有着很大好奇心的工蚁蚂蚁，它从小就被教育菜地是它们的所有世界，无论发生什么事，都不能越过菜地外的墙，因为墙外它们无法生存。</p>
						<div id="moreStory" style="display:none">
								<p>有一天，强蚁和同伴们发现了一只蜜蜂，它们正准备把这顿美餐抬回家时发现，这只蜜蜂还活着。在同伴们都被吓走的同时，强蚁留了下来，它决定救活这只名叫玉蜂的小蜜蜂。几天后，玉蜂活了过来，它和强蚁成为了朋友，它在昏迷时听到了强蚁对它说的墙外世界，醒过来后的玉蜂也告诉了强蚁确实有外面的世界。而她自己也是从外面世界来的，但是自己摔伤了翅膀。于是强蚁决定要和已经不能飞的玉蜂一起走出墙外。途中他们屡次逃脱了硕鼠的攻击，同时他们也遇到了舞蚊。起初，舞蚊与硕鼠合作，一面与强蚁、玉蜂好好相处，一面带他们进入硕鼠的陷阱。但是最后，却被他们无坚不摧的友情已经向往未来的感情所感动，不惜自己的安危帮助他们引开了硕鼠。就当玉蜂与强蚁摆脱了重重困难，到了墙边的时候，他们发现，他们没有翻越墙的能力。他们彼此开始后悔走来了墙边，正在他们吵架之时，天色已晚，并刮起了大风。强蚁和玉蜂又一次为了他们的生存而合作，但是可惜，他们始终没能挡住狂风暴雨，被吹上了天。第２天早上，他们惊异的发现，墙被风刮倒了，而他们已经身处在断墙上。但是在远处还有更高的墙，强蚁决定，要以这里为新起点，准备翻越那堵更高的墙。</p>
								<p>强蚁： 蚁国中工蚁中的一只，每天忙碌着寻找食物。但是好奇心很强，始终坚信墙外还有一个广大的世界，但是强蚁胆子很小，对于自己相信的广阔世界自己不敢去探求，也因为怕被笑话，不敢和朋友们说。直到遇到了玉蜂，才鼓起勇气，一起去探求新世界。强蚁代表了懦弱而又憧憬未来的人。</p>
						</div>
						<div class="open"><a href="javascript:;" class="close">展开</a></div>
				</div>
		</div>
		<div class="box">
				<div class="title">作品要求</div>
				<div class="text">
						<ul>
								<!--             	<li>创作你心目中适用于目标城市地方文化特色或目标行业的原创动漫形象，人设+漫画故事主线剧情+至少5种表情（喜、怒、哀、乐、呆、萌、傻等）。基础设定（名字、性别、生日、星球、性格、专长、喜欢的食物、愿望），围绕主形象创作完整的故事情节（情节长短字数不限），可最终形成漫画故事（不少于7P）。</li>
                <li>作品的表现手法不限，尽量不超过三种颜色，作者需保留300dpi分辨率可用于印刷生产的位图源文件或矢量文件，获奖者需在活动结束后，向主办方提供源文件；</li>
                <li>图像作品内容不得侵犯已有其他形象的著作权（如抄袭，修改其他创意作品等），作品内容健康，符合法律法规等要求;</li>
                <li>如多人合作，需征求所有合作者同意并标明所有合作者姓名;</li>
                <li>所有参选作品请一律上传二次元界官方网站 www.2ciyuanjie.com，以注册登记日为准。</li>
                <li>人设作品需要制作角色三视图（正、背、侧）。</li>
                <li>若同一作品，有超过1名角色者，则需要附角色身高比例图</li> -->
								
								<li>创作内容可以是城市文化、家乡文化、校园文化、海洋文化、星球文化、行业文化等</li>
								<li>作品类型可以是科幻、幽默、音乐、推理、冒险、偶像、言情、战争、竞技等</li>
								<li>作品表现形式可以是水彩、油彩、剪纸、折纸、皮影、布偶、木偶、瓷偶、粘土、铁皮、充气等</li>
								<li>作品基本要求（两种形式选其一）：<br>
										1、三视图（正、背、侧）人设+漫画故事主线剧情＋动漫形象表情（喜、怒、哀、乐、呆、萌、囧，傻等）。基础设定（名字、性别、生日、星球、性格、专长、喜欢的食物、愿望），围绕主形象创作完整的故事情节（情节长短字数不限），可最终形成漫画故事（不少于7P）；
										尽量不超过三种颜色，作者需保留300dpi分辨率可用于印刷生产的位图源文件或矢量文件，获奖者需在活动结束后，向主办方提供源文件；
										图像作品内容不得侵犯已有其他形象的著作权（如抄袭，修改其他创意作品等），作品内容健康，符合法律法规等要求;<br>
										2、插画或绘本+故事梗概。 </li>
								<li>如多人合作，需征求所有合作者同意并标明所有合作者姓名;</li>
								<li>所有参选作品请一律上传二次元界官方网站（www.2ciyuanjie.com），以注册登记日为准。</li>
								<li> 若同一作品，有超过1名角色者，则需要附角色身高比例图</li>
						</ul>
				</div>
		</div>
		<div class="box">
				<div class="title">组织机构</div>
				<div class="text">
						<p>主办方：中国创意产业联盟、首都版权产业联盟、国际动画协会中国分会</p>
						<p>承办方：二次元界网、中关村创新研修学院、赛伯乐投资集团、全国百家电视联播平台</p>
						<p>协办方：中国企业投融资商会、北京创音天承文化传播有限公司</p>
				</div>
		</div>
</div>
</block>