<extend name="Base/common" />
<block name="body">
<div class="container content">
				<div class="custom">
						<ul class="nextnav">
								<li class="nextnavon activ-li">
                                		<a href="#">完善征集信息</a>
								</li>
						</ul>
						<div class="custom-content">
								<ul>
										<li>为您的征集活动进行填写带有 <span>*</span> 的项目是必填项哦。</li>
                                        <li class="fill name">
											<h5><span>*</span>活动名称：</h5>
											<input name="" type="text" value="请写出您要举办活动的名称，让更多人来参加您的活动。" class="gray" onclick="if(this.value=='请写出您要举办活动的名称，让更多人来参加您的活动。'){this.value='';this.className='white'}" onblur="if(this.value=='') {this.value='请写出您要举办活动的名称，让更多人来参加您的活动。';this.className='gray'}">
											<h6 class="price-tips">还可以输入 <span>50</span> 字符 / 汉字</h6>
										</li>
                                        <li class="fill">
												<h5>活动引言：</h5>
												<textarea class="description" name="" cols="" rows="" onkeyup="this.value = this.value.slice(0, 2000)" onfocus="if(value=='请写出您要举办活动的简单介绍，让我们可以更加了解，为您举办活动。'){value='';this.className='description02'}"onblur="if (value==''){value='请写出您要举办活动的简单介绍，让我们可以更加了解，为您举办活动。';this.className='description'}">请写出您要举办活动的简单介绍，让我们可以更加了解，为您举办活动。
                                                </textarea>
												<h6>还可以输入 <span>2000</span> 字符 / 汉字</h6>
										</li>
                                        <li class="fill">
											<h5><span>*</span>活动时间：</h5>
											<span class="time-span activ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日 </span> <span class="activ-txt">至</span> <span class="time-span activ"> &nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</span>
										</li>
										<li class="fill">
											<h5><span>*</span>奖金总额：</h5>
											<input name="" type="text" value="请填写奖金总额" class="gray" onclick="if(this.value=='请填写奖金总额'){this.value='';this.className='white'}" onblur="if(this.value=='') {this.value='请填写奖金总额';this.className='gray'}"><span class="activ-txt">元</span>
										</li>
                                        <li class="fill">
												<h5>奖项设置：</h5>
												<textarea cols="" rows="" class="description" name="" cols="" rows="" onkeyup="this.value = this.value.slice(0, 2000)" onfocus="if(value=='请写出您活动的相关奖项设置。'){value='';this.className='description02'}"onblur="if (value==''){value='请写出您活动的相关奖项设置。';this.className='description'}">请写出您活动的相关奖项设置。</textarea>
												<h6>还可以输入 <span>2000</span> 字符 / 汉字</h6>
										</li>
                                        <li class="fill">
												<h5>作品需求：</h5>
												<textarea cols="" rows="" class="description" name="" cols="" rows="" onkeyup="this.value = this.value.slice(0, 2000)" onfocus="if(value=='请写出您活动的相关奖项设置。'){value='';this.className='description02'}"onblur="if (value==''){value='请写出您活动的相关奖项设置。';this.className='description'}">请写出您活动的相关奖项设置。</textarea>
												<h6>还可以输入 <span>2000</span> 字符 / 汉字</h6>
										</li>
                                        <li class="fill">
												<h5>评选标准：</h5>
												<textarea cols="" rows="" class="description" name="" cols="" rows="" onkeyup="this.value = this.value.slice(0, 2000)" onfocus="if(value=='请写出您活动的相关奖项设置。'){value='';this.className='description02'}"onblur="if (value==''){value='请写出您活动的相关奖项设置。';this.className='description'}">请写出您活动的相关奖项设置。</textarea>
												<h6>还可以输入 <span>2000</span> 字符 / 汉字</h6>
										</li>
                                        <li class="fill">
												<h5>参赛须知：</h5>
												<textarea cols="" rows="" class="description" name="" cols="" rows="" onkeyup="this.value = this.value.slice(0, 2000)" onfocus="if(value=='请写出您活动的相关奖项设置。'){value='';this.className='description02'}"onblur="if (value==''){value='请写出您活动的相关奖项设置。';this.className='description'}">请写出您活动的相关奖项设置。</textarea>
												<h6>还可以输入 <span>2000</span> 字符 / 汉字</h6>
										</li>
                                        <li class="fill">
												<h5>相关权益：</h5>
												<textarea cols="" rows="" class="description" name="" cols="" rows="" onkeyup="this.value = this.value.slice(0, 2000)" onfocus="if(value=='请写出您活动的相关奖项设置。'){value='';this.className='description02'}"onblur="if (value==''){value='请写出您活动的相关奖项设置。';this.className='description'}">请写出您活动的相关奖项设置。</textarea>
												<h6>还可以输入 <span>2000</span> 字符 / 汉字</h6>
										</li>
										
									<li class="fill btn activbtn">
										<input class="submit" name="" type="button" value="提交">
									</li>
								</ul>

						</div>
				</div>
		</div>
</block>