<extend name="Base/common" />
<block name="body">
  <!--------页面内容部分--------->
  <div class="activity-banner01"></div>
  <div class="activity-nav">
    <ul class="container">
      <li class="activity-navon"><a href="__ROOT__/activity/yzindex.html">首页</a></li>
      <li><a href="__ROOT__/activity/activitylist/id/2.html">全部作品</a></li>
      <li><a href="__ROOT__/MyCenter/uploadWork/activityid/2.html">我要参加</a></li>
    </ul>
  </div>
  <div class="activity-main">
    <div class="activity-module01 green">
      <div class="container"> <span class="activity-tlespan">活动引言</span>
        <div class="green-left">
          <h4>有一种情怀，是邮政与你；</h4>
          <h4>有一种记忆，是一抹邮政绿；</h4>
          <h4>有一种传承，是百年的坚守；</h4>
          <h4>有一种责任，是历史的担当；</h4>
          <h4>更有一种服务，叫做情系万家，信达天下！</h4>
        </div>
        <div class="green-right">
          <h4>在中国邮政开办120周年之际，我们面向社会公开征集中国邮政卡通形象，希望与您<br/>
            一起，畅想时空，描绘迈向世界一流企业的现代邮政形象。此刻，我们<br/>
            真诚期盼，您能拿起画笔，重温与中国邮政最温暖的记忆。<br/>
            来吧，“我爱邮政更时尚”<br/>
            征集活动期待您的参与，让我们发挥才智、捕捉灵感，一起创造经典！</h4>
        </div>
      </div>
    </div>
    <div class="activity-module01 pink">
      <div class="container"> <span class="activity-tlespan">奖项设置</span>
        <div class="pink-main"> <span><img src="__IMG__/activity-img04.png"/>
          <h3>一等奖<span>（1名）</span></h3>
          <h5>100000 RMB</h5>
          </span> <span><img src="__IMG__/activity-img04.png"/>
          <h3>二等奖<span>（1名）</span></h3>
          <h5>50000 RMB</h5>
          </span> <span class="margin-span"><img src="__IMG__/activity-img04.png"/>
          <h3>三等奖<span>（1名）</span></h3>
          <h5>20000 RMB</h5>
          </span>
          <div class="pink-botm">
            <div class="pink-left">
              <h4><span>人气奖（前5名）</span><span class="float-span"> 3000RMB、2500RMB、2000RMB 1500RMB、1000RMB</span></h4>
              <h4><span>创意奖（前10名）</span><span class="float-span"> 1000RMB</span></h4>
            </div>
            <div class="pink-right">
              <h4><span>奖金 </span><span class="float-span"> 全部由订制创意中华造梦计划所提供</span></h4>
              <h4><span>一等奖 </span><span class="float-span">成为中国邮政120周年纪念大会特邀嘉宾</span></h4>
              <h4><span>荣誉证书</span><span class="float-span">获得奖金者，  均可获得荣誉证书以及纪念奖若干 </span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="activity-module01 time">
      <div class="container"> <span class="activity-tlespan">活动时间</span>
        <div class="time-main">
        	<div>
        		<span class="time-span01"><h4>征集开始</h4>
				<h4>2015.08.10</h4></span>
                <span class="time-span02"><h4>征集结束</h4>
				<h4>2015.12.10</h4></span>
                <span class="time-span03"><h4>评选开始</h4>
				<h4>2015.12.11</h4></span>
                <span class="time-span04"><h4>评选结束</h4>
				<h4>2015.12.31</h4></span>
                <span class="time-span05"><h4>获奖公示</h4>
				<h4>2016.01.01</h4></span>
            </div>
        </div>
      </div>
    </div>
    <div class="activity-module01 explain">
      <div class="container"> <span class="activity-tlespan">活动说明</span>
        <div class="explain-main">
          <div>
            <h2>作品要求：</h2>
            <span>
            <h5>作品创作内容：体现中国邮政企业文化</h5>
            <h5>作品基本要求：</h5>
            <h5>1、三视图（正、背、侧）人设＋卡通形象表情或动作+卡通形象角色说明（名字、性格、专长、喜欢的食物、愿望等）+漫画故事主线剧情
              尽量不超过三种颜色，作者需保留300dpi分辨率可用于印刷生产的位图源文件或矢量文件，获奖者需在活动结束后，向主办方提供源   
              文件； 图像作品内容不得侵犯已有其他形象的著作权（如抄袭，修改其他创意作品等），作品内容健康，符合法律法规等要求；</h5>
            <h5>2、不接受三人以上的合作，需征求所有合作者同意并标明所有合作者姓名;</h5>
            <h5>3、所有参选作品请一律上传二次元界官方网站（www.2ciyuanjie.com），以注册登记日为准。</h5>
            <h5>4、若同一作品，有超过1名角色者，则需要附角色身高比例图</h5>
            </span> </div>
          <div>
            <h2>评选标准：</h2>
            <span>
            <h5>评选将基于但不限与以下标准：</h5>
            <h5>1、艺术性：有感染力的艺术表现手法，视觉效果突出；</h5>
            <h5>2、美观性：卡通形象设计符合年轻人审美要求，形象积极健康；</h5>
            <h5>3、品牌性：符合中国邮政的品牌形象与企业文化；</h5>
            <h5>4、应用性：卡通形象的可延伸性和应用性强；</h5>
            <h5>5、创意性：有独特的设计创意和设计风格。</h5>
            </span> </div>
        </div>
      </div>
    </div>
    <div class="activity-module01 solicitation">
      <div class="container">
        <h2>“我爱邮政更时尚”——中国邮政卡通形象征集</h2>
        <div class="solicitation-main"> <span class="solicitation01"><img src="__IMG__/activity-img05.png"/><span>独家投稿平台<a href="#">www.2ciyuanjie.com</a></span></span> <span><img src="__IMG__/activity-img06.png"/><span>独家投票平台<a href="#">www.2ciyuanjie.com</a></span></span> <span class="solicitation03"><img src="__IMG__/activity-img07.png"/><span>征集邮箱<a href="#">www.zj@2ciyuanjie.com</a></span></span> </div>
      </div>
    </div>
    <div class="activity-module01 green">
      <div class="container notice"> <span class="activity-tlespan">活动须知</span>
        <div class="green-left"> 参赛须知：<br/>
          1. 参赛者在提交作品前请确保已经阅读并且愿意遵守相关比赛规则，任何违反比赛规则的作品，主办方有权取消其参赛资格。<br/>
          2. 参赛者所提交的作品必须由参赛者本人创作或参与创作，并确认拥有所提交作品的完整著作权及版权，参赛者应确认其作品的原创性，主办单位不承担因作品侵犯他人（或单位）的权利而产生的法律责任，其法律责任由参赛者本人承担。<br/>
          3. 参赛者须确认如多人合作，需征得所有合作者同意并标明所有合作者姓名。<br/>
          4. 参赛期间，参赛者不得将参赛作品转让或授权给任何第三方，不得用参赛作品参与与本赛事相同或类似的其他活动。<br/>
          5. 同一用户名可上传多组不同参赛作品，评选结果以作品为单位，即同一用户名可获得多个奖项。<br/>
        </div>
        <div class="green-right"> 获奖须知：<br/>
          1. 获奖通知将在最终结果公示后15个工作日内，通过电子邮件的方式发送至获奖设计师上传作品时预留的邮箱，请确认提供真实有效的联系方式。<br/>
          2. 获奖设计师在活动结束后注意查收邮件，7个工作日内回复获奖通知，并根据邮件内容，配合主办方完成获奖作品源文件收集、版权协议签署及奖金奖品发放等工作。<br/>
          3. 若获奖设计师在限定时间内对获奖通知未做回应或放弃履行相关版权转让或授权义务，则视为放弃奖项，由其他获奖者取代。<br/>
          4. 主办方将在比赛结束后安排奖金发放事宜，所有奖金均为税前金额，由主办方代扣代缴，奖项可重复获得。<br/>
        </div>
      </div>
    </div>
    <div class="ctivity-module01 judges">
      <div class="container">活动评委：国内知名动漫专家与中国邮政相关部门负责人共同组成</div>
    </div>
    <div class="ctivity-module01 interests">
      <div class="container"> <span class="activity-tlespan">相关权益</span>
        <div class="interests-main"> 1.【一、二、三等奖】获奖作品的完整版权将转让至主办方，获奖设计师需协助主办方签署《著作权转让协议》，主办方享有对相应设计方案进行
          再设计、生产、销售、展示、出版等全部权益。<br/>
          2. 除一、二、三等奖以外，所有获奖作品的著作权仍归原作者所有，主办方享有作品的使用权。获奖设计师需协助主办方签署《著作权许可使用协         
          议》。<br/>
          3. 全部参赛作品，主办方及承办机构享有对作品进行宣传、报道、展示的权利，并署名作者。<br/>
          4. 作品一经提交，将视为参赛作者同意并遵守比赛相关规定，若作品在商业使用中其著作权存在争议，主办单位不承担因作品侵犯他人（或单位）
          的权利而产生的法律责任，其法律责任由参赛者本人承担。<br/>
          5. 主办方对本活动保留最终解释权。<br/>
        </div>
      </div>
    </div>
    <div class="theme-content">
      <div class="container content">
        <div class="theme">
          <div class="theme-left">
            <h2>主办方：</h2>
            <div> <span>“我爱邮政更时尚”征集BBS讨论区：bbs.2ciyuanjie.com</span> <span>“我爱邮政更时尚”征集新浪微博：二次元界</span> <span>“我爱邮政更时尚”征集百度贴吧：二次元界</span> </div>
          </div>
          <div class="theme-right">
            <h2>协办方：</h2>
            <div> <img src="__IMG__/xb-img01.png"/> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------页面底部--------->
</block>
