<extend name="Base/common"/>
<block name="body">
  <div class="container content">
    <div class="custom">
      <ul class="nextnav no-drop">
        <li class="nextnavon"><a href="#wo">关于我们</a></li>
		<li><a href="#yisi">关于隐私</a></li>
		<li><a href="#bq">版权声明</a></li>
      </ul>
    </div>
    <div class="module about">
       <h3 name="wo" id="wo">关于我们</h3>
	   <h5><p>二次元界是一个动漫产业链生态圈订制平台，2014年4月创立于北京，二次元界将聚集形象、漫画、动画、游戏、轻小说、音乐、产品设计等众多个人或机构设计师，聚集众多动漫IP授权周边品质制造企业，聚集为浪漫爱情、浓浓亲情、真挚友情、独一无二自己，为投资、为生日、为节日订制的大量时尚消费者。</p>
       <p>二次元界专注围绕“订制时尚、品味生活、我的形象我做主”的运营理念，为原创者搭建一个展示精品，创造价值的创业就业平台；为动漫IP授权周边品质制造企业搭建一个展示预订销售平台；为时尚消费者搭建一个个性化品质消费平台。<br/>感谢所有动漫产业链生态圈的原创者，感谢所有品质制造企业，感谢所有个性化时尚消费责，二次元界愿与您们相伴成长！</p></h5>
	   <h3 name="yisi" id="yisi">关于隐私</h3>
	   <h5>1.  当你在二次元界进行用户注册，参加网上各种订制时，在你的同意及确认下，本网站将通过注册表格等形式要求你提供一些个人资料是基于保护你的订制或创作顺利进行，你在本网站上所提
     <span>供的所有信息都是基于自愿的原则。</span>
			2.  在未经会员授权同意的情况下，本网站不会将会员的个人资料，企业资料泄露给第三方，以下情况除外：<br/>
     <span>2.1.   根据执法单位之要求或为公共之目的向相关单位提供资料；</span>
     <span>2.2.   由于会员将用户密码告知他人与他人共享注册账号，由此导致的个人资料泄露；</span>
     <span>2.3.   由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等；</span>
			3.  本站点所提供的服务会自动收集有关访问者的信息，这些信息包括访问者人数、访问时间、访问页面、来访地址等，本站点使用这些信息来对我们的服务器进行分析和对网站进行管理。</h5>
	   <h3 name="bq" id="bq">版权声明</h3>
	   <h5>1.   二次元界的会员，原创者自创的作品版权归原创者所有；订制者购买的作品，版权归订制者所有；<br/>
			2.   会员在二次元界上发布的内容，视作授权其作品使用在二次元界PC平台，APP平台或其他互联网产品；<br/>
			3.   如果任何第三方侵犯了二次元界用户相关的权利，用户同意授权二次元界或指定的代理人代表，二次元界自身或用户对该第三方提出警告、投诉、发起行政执法、诉讼进行上诉或谈判和解
				<span>并且用户同意在二次元界认为必要的情况下参与共同维权；</span>
			4.   如个人或机构发现二次元界上存在侵犯其自身合法权益的内容，请及时与二次元界取得联系并提供具有法律效应的证明材料，以便二次元界作出处理，二次元界有权根据实际情况删除内容
				<span>并追究相关用户的法律责任，给二次元界或任何第三方造成损失的，侵犯用户应负全部责任；</span>
			5.   未经二次元界认可，任何人不得盗链二次元界下载资源。
    </h5>
  </div>

</block>