<extend name="Base/common"/>
<block name="body">
    <div class="container feedback">
        <div class="feedback-content">
            <h3>欢迎反馈问题，您的建议就是我们的动力！</h3>
            <h5>我们会认真查阅您反馈的每一个问题，并尽快给您答复，在这里您可以提出遇到问题，也可以发表您对我们平台的建议和想法。</h5>
            <h5 class="feedback-lable">问题与建议描述：</h5>
		<textarea name="" cols="" rows="" class="description" >请详细描述您遇到的问题，有助于我们快速了解问题的关键原因，并帮助您进行解决，比如：
1、具体遇到什么问题？
2、问题出现时您正在做什么操作？</textarea>
            <h5 class="feedback-lable">请留下您的联系方式，以便我们可以快速与您取得联系：</h5>
            <span>QQ <input name="" type="text"></span>
            <span>E-mail <input name="" type="text"></span>
            <span class="feedback-btn"><input class="feedback-submit" name="" type="button" value="提交反馈"><input name="" type="button" value="取消"></span>
        </div>
    </div>
</block>