<extend name="Base/common"/>
<block name="body">
  <div class="container content">
    <div class="custom">
      <ul class="nextnav no-drop">
        <li class="nextnavon"><a href="#yqzjz">邀请者机制</a></li>
		<li><a href="#dyzjz">订制者机制</a></li>
		<li><a href="#zzjz">作者机制</a></li>
      </ul>
    </div>
    <div class="module about">
       <h3 id="yqzjz" name="yqzjz">邀请者机制</h3>
	   <h5>1.  如何成为邀请者
			<span> 1.1.   注册成二次元界的订制者或作者</span>
			 <span> 1.2.   邀请理念</span>
			 <span class="in-span"><p>当你已经成为二次元界的用户，体验了当原创者的存在感或当订制者的满意感后，因为认同二次元界平台与“订制时尚、品味生活、我的形象我做主”的服务理念，真心真意希望   
              你周边的朋友或邻居拥有感动人生的温馨浪漫生活，你可以邀请他成为二次元界的订制用户，订制时尚、品味生活；当你发现你周边的朋友或邻居拥有非常好的创作能力，真心真意希 
              望他的能力得到更多人的认可的同时为更多的订制者服务，你可以邀请他成为二次元界的原创者用户，展示精品、创作价值。</p></span>
			 2.  邀请被认定的途径
			 <span> 2.1.   注册时被邀请人直接写邀请人的邀请码</span>
			 3.  邀请者回报
			 <span> 3.1.   邀请作者——作者第1单创作费税后的2%，第2单起创作费税后的1%</span>
			 <span>3.2.   邀请订制者——订制者第1单消费额税后的6%，第2单起消费额税后的3%</span>
			 4.  邀请者2种回报方式
			 <span> 4.1.   选择现金——按月结算，每月中旬左右结算上月报酬</span>
			 <span>4.2.   选择积分——以1元人民币10个积分的方式累计在邀请者的个人资料中</span>
			 <span>4.3.   邀请者身份体系</span>
			  <span class="in-span">九品——邀请达10人，交易额达3000元</span>
              <span class="in-span">八品——邀请达30人，交易额达9000元</span>
              <span class="in-span">七品——邀请达60人，交易额达18000元</span>
              <span class="in-span">六品——邀请达100人，交易额达50000元</span>
              <span class="in-span">五品——邀请达150人，交易额达75000元</span>
              <span class="in-span">四品——邀请达210人，交易额达105000元</span>
              <span class="in-span">三品——邀请达280人，交易额达280000元</span>
              <span class="in-span">二品——邀请达360人，交易额达360000元</span>
              <span class="in-span">一品——邀请达450人，交易额达450000元</span>

	   </h5>
	   <h3 name="dyzjz" id="dyzjz">订制者机制</h3>
	   <h5>1.  订制者分类
			 <span>1.1.   私人订制与企业订制，个人订制场景：浪漫的爱情、浓浓的亲情、真挚的友情、独一无二的自己、难忘的生日、多彩的节日、投资型订制。</span>
		2.  订制者两大口碑式传播创收
			 <span>2.1.   邀请作者——被邀请的作者第1单创作费税后的2%，从第2单起每单创作费税后的1%</span>
			 <span>2.2.   邀请订制者——被邀请的订制者第1单订制费税后的6%，从第2单起每单订制费税后的3%</span>
			 <span>2.3.   按月结算报酬，每月中旬左右结算上月报酬。</span>
	    3.  订制方式
			 <span>3.1.   填需求时直接指名作者订制。</span>
			 <span>3.2.   看到满意作品直接订制。</span>
			 <span>3.3.   发订制需求，选定平台客服提供有意接单原创者订制。</span>
			 <span>3.4.   发出海选征集订制。</span>
	    4.  订制者积分
			 <span>4.1.   签到1次得1分；周满勤送3分；月满勤送5分；季满勤送8分；补签2天消耗1分。</span>
			 <span>4.2.   对交易作评价得1分。</span></h5>
		<h3 name="zzjz" id="zzjz">作者机制</h3>
		<h5>1.  作者分类	
				 <span>1.1.   个人作者与机构作者两种</span>
			2.  作者三大创收
				 <span>2.1.   自创作品销售额税后的90%</span>
				 <span>2.2.   接单作品销售额税后的80%</span>
				 <span>2.3.   邀请作者——被邀请的作者第1单创作费税后的2%，从第2单起每单创作费税后的1%</span>
				 <span>2.4.   邀请订制者——被邀请的订制者第1单订制费税后的6%，从第2单起每单订制费税后的3%</span>
				 <span>2.5.   作者创作费按单打款，邀请费按月打款，每月中旬左右结算上月报酬</span>
			3.  接单方式
				 <span>3.1.   被提名接单</span>
				 <span>3.2.   被看作品喜欢后直接接单</span>
				 <span>3.3.   自己主动看订制需求，发出接单意向（抢单），被订制者认可后接单</span>
				 <span>3.4.   平台根据订制者描述，向订制者推送符合标签的原创者，被订制者认可后接单</span>
				 <span>3.5.   参加海选征集得奖</span>
			4.  作者积分
				 <span>4.1.   签到1次得1分；周满勤送3分；月满勤送5分；季满勤送8分;补签2天消耗1分</span>
				 <span>4.2.   对交易做评价得1分</span>
				 <span>4.3.   被好评 五颗星得3分，四颗星得2分，三颗星得1分，二颗星扣1分，一颗星扣2分</span>
			5.  作者版权
				 <span>5.1.   版权所有权归订制者所有，作者有署名权与宣传权</span>
				 <span>5.2.   作者被举报侵犯版权，查实属实，将查封作者ID。</span>
			6.  作者消费
				 <span>6.1.   每次直接消费，平台送消费额除以10的积分。</span>
			7.  作者诚信度评价体系
				 <span>一等——累计3单无退单，好评率100%</span>
				 <span>二等——累计10单无退单，好评率100%</span>
				 <span>三等——累计20单无退单，好评率100%</span>
				 <span>四等——累计40单无退单，好评率100%</span>
				 <span>五等——累计70单无退单，好评率100%</span>
		
		</h5>
    </div>
  </div>
 </block>