<extend name="Base/common"/>
<block name="body">
    <div class="container content">
			<div class="custom">
				<ul class="nextnav no-drop">
								<li class="nextnavon"><a href="javascript:;">我的收藏</a></li>
						</ul>
					</div>
				<div class="module">
                	<div class="module-tle">
								<h5>Hi， <span>{:session('user_auth.username')}</span> ，发现更多精彩订制作品记得及时收藏，<span>进行定制</span> 哦。</h5>
						</div>
                       	  <div class="author-filter">
                            	<h5>
                           	 		 标签：   <a href="javascript:;" class="aon">全部</a>
									<volist name="tags" id="data">
										<a href="javascript:;" >{$data.tag_content}</a>
									</volist>
								</h5>
                          </div>
					<ul style="height: 395px;">
						<volist name="works" id="wdata" offset="0" length='4'>
							<li style="display:block;width:293px;height: 395px;"><img src="http://www.2ciyuanjie.com/{$wdata.main_image_url}" alt="作品图片-{$wdata.title}" style="display：block;width: 293px;height: 222px;"/>
								<h3>{$wdata.title}</h3>
								<h4>$500</h4>
								<span class="label-a"><a href="javascript:;">{$wdata.tags_content}</a><a href="javascript:;">{$wdata.create_status}</a></span>
								<h5><span>{$wdata.open_count}</span>人气  /<span>{$wdata.praise_count}</span>点赞  /<span>{$wdata.favorite_count}</span>收藏 </h5>
							</li>
						</volist>
					</ul>
					<ul>
						<volist name="works" id="wdata" offset="4" length='4'>
							<li style="display:block;width:293px;height: 395px;"><img src="http://www.2ciyuanjie.com/{$wdata.main_image_url}" alt="作品图片-{$wdata.title}" style="display：block;width: 293px;height: 222px;"/>
								<h3>{$wdata.title}</h3>
								<h4>$500</h4>
								<span class="label-a"><a href="javascript:;">{$wdata.tags_content}</a><a href="javascript:;">{$wdata.create_status}</a></span>
								<h5><span>{$wdata.open_count}</span>人气  /<span>{$wdata.praise_count}</span>点赞  /<span>{$wdata.favorite_count}</span>收藏 </h5>
							</li>
						</volist>
					</ul>
					<ul>
						<volist name="works" id="wdata" offset="8" length='4'>
							<li style="display:block;width:293px;height: 395px;"><img src="http://www.2ciyuanjie.com/{$wdata.main_image_url}" alt="作品图片-{$wdata.title}" style="display：block;width: 293px;height: 222px;"/>
								<h3>{$wdata.title}</h3>
								<h4>$500</h4>
								<span class="label-a"><a href="javascript:;">{$wdata.tags_content}</a><a href="javascript:;">{$wdata.create_status}</a></span>
								<h5><span>{$wdata.open_count}</span>人气  /<span>{$wdata.praise_count}</span>点赞  /<span>{$wdata.favorite_count}</span>收藏 </h5>
							</li>
						</volist>
					</ul>
					<ul>
						<volist name="works" id="wdata" offset="12" length='4'>
							<li style="display:block;width:293px;height: 395px;"><img src="http://www.2ciyuanjie.com/{$wdata.main_image_url}" alt="作品图片-{$wdata.title}" style="display：block;width: 293px;height: 222px;"/>
								<h3>{$wdata.title}</h3>
								<h4>$500</h4>
								<span class="label-a"><a href="javascript:;">{$wdata.tags_content}</a><a href="javascript:;">{$wdata.create_status}</a></span>
								<h5><span>{$wdata.open_count}</span>人气  /<span>{$wdata.praise_count}</span>点赞  /<span>{$wdata.favorite_count}</span>收藏 </h5>
							</li>
						</volist>
					</ul>
				</div>
                    <div class="page">
                    	<ul>
                        	<li class="lion"><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li class="omission">…</li>
                          <li><a href="#">30</a></li>
                          <li class="goto"><input name="" type="text"></li>
                          <li class="nextpage"><a href="#">下一页</a></li>
                        </ul>
                    </div>
				</div>
		</div>
</block>
