<extend name="Base/common"/>
<block name="body">
  <div class="container content">
    <div class="custom">
      <ul class="nextnav no-drop">
        <li class="nextnavon"><a href="#jygf">交易规范</a></li>
		<li><a href="#jfgz">积分规则</a></li>
      </ul>
    </div>
    <div class="module about">
       <h3 id="jygf" name="jygf">交易规范</h3>
	   <h5>1.  成交方式（最好把反馈的时间都设好,为我们内部做标准）
			<span> 1.1.   一对一成交流程</span>
			<span class="in-span">1.1.1.   订制者在作品页看到满意作品的成交流程</span>
			<span class="in-span"> 1.1.2.   针对作品发起订制（其中将要订制作品的形象分类、展示方式、风格与被订制的作品完全一致，不可修改。）</span>
             <span class="in-span">1.1.3.   填写并提交订制需求单</span>
             <span class="in-span">1.1.4.   支付方式选择，确认支付</span>
             <span class="in-span">1.1.5.   等待接单（24小时内，客服将联系作者确认订单，作者接单后才视为确认接单）</span>
             <span class="in-span">1.1.6.   等待制作</span>
             <span class="in-span">1.1.7.   【注：如无需修改，忽略此步】作品修改，等待制作</span>
             <span class="in-span">1.1.8.   确认完成（订制者确认完成后款项交付作者，完成制作后14天内订制者没有进行确认，将转为自动确认）</span>
             <span class="in-span">1.1.9.   作品评价</span>
			 <span> 1.2.  订制者进入作者页看到满意作者的成交流程</span>
			 <span class="in-span">1.2.1.   指定作者发起订制</span>
			 <span class="in-span"> 1.2.2.   填写并提交订制需求单</span>
             <span class="in-span">1.2.3.   支付方式选择，确认支付</span>
             <span class="in-span">1.2.4.   等待接单（24小时内，客服将联系作者确认订单，作者接单后才视为确认接单）</span>
             <span class="in-span">1.2.5.   等待制作</span>
             <span class="in-span">1.2.6.   【注：如无需修改，忽略此步】作品修改，等待制作</span>
             <span class="in-span">1.2.7.   确认完成（订制者确认完成后款项交付作者，完成制作后14天内订制者没有进行确认，将转为自动确认）</span>
             <span class="in-span">1.2.8.   作品评价</span>
			 <span> 1.3.  订制者自己发起订制的成交流程</span>
			 <span class="in-span">1.3.1.   发起订制</span>
             <span class="in-span">1.3.2.   填写并提交订制需求单</span>
             <span class="in-span">1.3.3.   支付方式选择，确认支付</span>
             <span class="in-span">1.3.4.   选择作者（抢单作者及根据订制需求系统推荐的优秀作者，提供选择。）</span>
             <span class="in-span">1.3.5.   【注：选择抢单作者，忽略此步】等待接单（24小时内，客服将联系作者确认订单，作者接单后才视为确认接单）</span>
             <span class="in-span">1.3.6.   等待制作</span>
             <span class="in-span">1.3.7.   【注：如无需修改，忽略此步】作品修改，等待制作</span>
             <span class="in-span">1.3.8.   确认完成（订制者确认完成后款项交付作者，完成制作后14天内订制者没有进行确认，转为自动确认）</span>
             <span class="in-span">1.3.9.   作品评价</span>
			 <span> 1.4.  作者的自创作品交易流程</span>
			 <span class="in-span">1.4.1.   填写并提交购买订单</span>
             <span class="in-span">1.4.2.   支付方式选择，确认支付</span>
             <span class="in-span">1.4.3.   等待发货</span>
             <span class="in-span">1.4.4.   确认收货（订制者确认收货后款项交付作者，发货后14天内订制者没有进行确认，转为自动确认）</span>
			 <span> 1.5.  征集成交流程</span>
			 <span class="in-span">1.5.1.   发起征集订制</span>
             <span class="in-span">1.5.2.   填写并提交订制需求单（订制方式选择征集）及征集活动明细表</span>
             <span class="in-span">1.5.3.   支付方式选择，确认支付</span>
             <span class="in-span">1.5.4.   等待确认（24小时内，客服将联系订制者确认征集活动内容）</span>
             <span class="in-span">1.5.5.   征集活动进行中，等待征集结束</span>
             <span class="in-span">1.5.6.   征集结束，评选中（24小时内，客服从评委手中获取获奖名单）</span>
             <span class="in-span">1.5.7.   评选结束，公布获奖名单并发放奖金</span>
			 2.  作品修改规则
			 <span> 2.1.  免费2次修改，从第3次起修改1次支付原价10%作为修改劳务费</span>
			 3.  改单规则
			 <span> 3.1.  需求发布3小时内可以改单1次，超过3小时（包括3小时）不能改单</span>
			 4.  退单规则
			 <span> 4.1.  需求发布1小时内可以退单、超过1小时（包括1小时）不能退单</span>

	   </h5>
	   <h3 id="jfgz" name="jfgz">积分规则</h3>
	   <h5>1.  积分兑换
			 <span>1.1.  人民币：积分=1:10</span>
			 <span>1.2.  1人民币可换10个积分</span>
			 <span>1.3.  积分不能兑换人民币</span>
		2.  积分消费（具体情况对接后续项目）
			 <span>2.1.  积分换广告宣传</span>
			 <span>2.2.  积分换实物</span>
			 <span>2.3.  积分换服务（课程、旅游、展会等）</span></h5>
    </div>
  </div>
</block>