<extend name="Base/common" />
<block name="body">
	<div class="container content details">
		<div class="details brief">
			<div class="brief-left">
				<h4>{$works['title']|mb_substr=0,40,'utf-8'}</h4>
				<h5>标签：<span>{$tags[$works['tags_content']]}</span>主题：<span>{$theme[$works['theme']]}</span>作品来源：<span>{$source[$works['create_status']]}</span></h5>
				<h5>展示方式：<span>{$show[$works['show']]}</span></h5>
				<if condition="$works['showmoney'] eq 'yes'"><h5>作品价格：<span class="red-span">{$works['money']} RMB</span><!--出售状态：<span class="red-span">10 天</span>--></h5></if>
			</div>
			<div class="brief-right"> <a href="/Author/details/id/{$user[id]}.html"><if condition="$user['header_img'] eq null"> <img src="__IMG__/user-img10.gif"/> <else /> <img src="{$user['header_img']}"  width="103px" height="103px"/> </if></a>  <span>
        <h4>{$user['nick_name']}</h4>
        <h5>作者标签：{$user['skilled_field']}</h5>
       <!-- <h5>成交量：{$user['volume']} </h5> --> 
        <!--  <h5>诚信度：<img src="__IMG__/img22.gif"/><img src="__IMG__/img22.gif"/><img src="__IMG__/img22.gif"/><img src="__IMG__/img23.gif"/><img src="__IMG__/img23.gif"/></h5>-->
        </span>
				<!--<input name="" type="button" value="+ 关注">-->
			</div>
		</div>
		<div class="details-content "> 
				<volist name="imgs" id="data" mod="4">
								<img src="{$data.image_url}" alt="作品图片-{$data.title}" style="max-width: 950px;"/><br/>
				</volist>
		</div>
		<div class="explain1">
		 <if condition="$works['tags'] eq '1'"> 
			<h4>角色说明:</h4>
			<h5>{$works['workrole']}</h5>
			
			<h4>故事梗概:</h4>
			<h5>{$works['story']}</h5>
			</if>
			<h6><span>作品版权：</span> <span>{$use[$works['copy_right']]}</span></h6>
      <span class="details-btn">
      <if condition="$works['showmoney'] eq 'yes'"><input name="" type="button" value="我要购买" onclick="javascript:location.href='__ROOT__/Order/makeOrder/workid/{$works['id']}'"></if>
		  <input name="" type="button" value="我要订制" onclick="javascript:location.href='__ROOT__/Custom/pcustom/toid/{$user[id]}.html'">
      </span> 
      <div class="bshare-custom icon-medium-plus third-party"><div class="bsPromo bsPromo2"></div><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到QQ好友" class="bshare-qqim" href="javascript:void(0);"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count" style="float: none;">40.7K</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
      <!--<span class="third-party"> <a title="分享到新浪微博"  class="bshare-sinaminiblog sina"></a><a href="javascript:;" class="sina"></a> <a href="javascript:;" class="wechat"></a> <a href="javascript:;" class="qq"></a> <a href="javascript:;" class="space"></a> </span> -->
      </div>
		<!-- <div class="tag"> <span class="collect like"> <img src="__IMG__/tag-img00.png"/> <span>
      <h4>点赞</h4>
      <h5>23789人点赞</h5>
      </span> </span> <span class="collect"> <img src="__IMG__/tag-img01.png"/> <span>
      <h4>收藏</h4>
      <h5>233人收藏</h5>
      </span> </span> <span class="collect report-bottom"> <img src="__IMG__/tag-img02.png"/> <span>
      <h4>举报</h4>
      <h5>0人举报</h5>
      </span> </span> <span class="collect popularity"> <img src="__IMG__/tag-img03.png"/> <span>
      <h4>人气</h4>
      <h5>232736人浏览</h5>
      </span> </span> </div> -->
		<div class="author1">
			<div class="author-left"> <a href="/Author/details/id/{$user[id]}.html"> <if condition="$user['header_img'] eq null"> <img src="__IMG__/user-img10.gif"/> <else /> <img src="http://www.2ciyuanjie.com{$user['header_img']}"  width="103px" height="103px"/> </if> </a> <span>
        <h4>{$user['nick_name']}</h4>
        <h5>作者标签：{$user['skilled_field']}</h5>
        <!-- <h5>成交量：{$user['volume']} </h5> --> 
         <!--<h5>诚信度：<img src="__IMG__/img22.gif"/><img src="__IMG__/img22.gif"/><img src="__IMG__/img22.gif"/><img src="__IMG__/img23.gif"/><img src="__IMG__/img23.gif"/></h5>-->
        </span>
			<!--	<input name="" type="button" value="已关注">-->
			</div>
			<div class="author-right"><volist name="worklist" id="list"><a href="/Product/details/id/{$list['id']}.html"><if condition="$list['assistant_image_url'] eq null"> <if condition="$list['main_image_url'] eq null"><img src="__flash__/default.png"  width="188px" height="125px"/><else /><img src="{$list['main_image_url']}"  width="188px" height="125px"/> </if><else /> <img src="{$list['assistant_image_url']}" /> </if> </a></volist> <span class="cutover"> <a href="/Author/details/id/{$user['id']}.html"></a><a href="/Author/details/id/{$user['id']}.html"></a><a href="/Author/details/id/{$user['id']}.html"></a> </span> </div>
		</div>
		<include file="Public:banner" />
	</div>
</block>
